html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Bebas Bold";
  src: url("fonts/bebasneue_bold.woff2") format("woff2"), url("fonts/bebasneue_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Regular";
  src: url("fonts/bebasneue_regular.woff2") format("woff2"), url("fonts/bebasneue_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("fonts/panton.woff2") format("woff2"), url("fonts/panton.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extrabold";
  src: url("fonts/gilroy-extrabold.woff2") format("woff2"), url("fonts/gilroy-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/roboto-bold.woff2") format("woff2"), url("fonts/roboto-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  src: url("fonts/roboto-light.woff2") format("woff2"), url("fonts/roboto-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/roboto-medium.woff2") format("woff2"), url("fonts/roboto-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/roboto-regular.woff2") format("woff2"), url("fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotocondensed";
  src: url("fonts/robotocondensed-regular.woff2") format("woff2"), url("fonts/robotocondensed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomono Bold";
  src: url("fonts/robotomono-bold.woff2") format("woff2"), url("fonts/robotomono-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomono Light";
  src: url("fonts/robotomono-light.woff2") format("woff2"), url("fonts/robotomono-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomono Regular";
  src: url("fonts/robotomono-regular.woff2") format("woff2"), url("fonts/robotomono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.inner, .picture-wrp {
  max-width: 1880px;
  margin: auto;
  padding: 0 15px;
}

.btn, .btn-primary, .btn-secondary, .btn-variation {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 3px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  text-align: center;
}

.btn-main, .btn-category, .btn-back, .btn-change {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.picture-wrp img, .company img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.popup, .popup-offers, .popup-checkin, .popup-login {
  position: fixed;
  padding: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  background-color: #7200d4;
  text-align: center;
  font-size: 0;
}

.btn {
  color: #fff;
  line-height: 1;
  background-color: #00aaff;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  padding: 17px 19px;
  font-size: 14px;
}

.is-no-touch .btn:hover {
  background-color: #33bbff;
}

.btn.is-active {
  background-color: #33bbff;
}

.is-no-touch .btn:active {
  background-color: #0099e6;
}

.btn:active {
  background-color: #0099e6;
}

.btn-primary {
  background-color: #ff1799;
  padding: 27px 60px;
  color: #fafafc;
  font-size: 20px;
  font-family: "Robotomono Bold", Arial, sans-serif;
  font-weight: normal;
}

.is-no-touch .btn-primary:hover {
  background-color: #ff31a4;
}

.btn-primary.is-active {
  background-color: #ff31a4;
}

.is-no-touch .btn-primary:active {
  background-color: #fd008d;
}

.btn-primary:active {
  background-color: #fd008d;
}

.btn-primary_blue {
  background-color: #00aaff;
}

.is-no-touch .btn-primary_blue:hover {
  background-color: #1ab3ff;
}

.btn-primary_blue.is-active {
  background-color: #1ab3ff;
}

.is-no-touch .btn-primary_blue:active {
  background-color: #0099e6;
}

.btn-primary_blue:active {
  background-color: #0099e6;
}

.btn-secondary {
  line-height: 1;
  color: #0ca8fd;
  font-size: 20px;
  font-size: calc(16px + (20 - 16) * ((100vw - 900px) / (1920 - 900)));
  font-family: "Robotomono Bold", Arial, sans-serif;
  font-weight: normal;
  border: 2px solid #0ca8fd;
  border-radius: 37px;
  padding: 25px 70px;
  overflow: hidden;
}

.is-no-touch .btn-secondary:hover {
  border-color: #fb1d95;
}

.is-no-touch .btn-secondary:hover .btn-secondary__in {
  right: 0;
}

.btn-secondary.is-active {
  border-color: #fb1d95;
}

.btn-secondary.is-active .btn-secondary__in {
  right: 0;
}

.btn-secondary__in {
  position: absolute;
  top: -2px;
  bottom: -2px;
  width: 100%;
  top: 0;
  right: 120%;
  background-color: #fb1d95;
  display: block;
  transition: right 0.3s;
}

.btn-secondary__text {
  position: relative;
  z-index: 2;
}

.btn-menu {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 28px;
  height: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  top: 1px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.btn-menu span {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 3px;
  background-color: #fff;
  display: block;
}

.btn-menu span::after, .btn-menu span::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  background-color: #fff;
  left: 0;
  right: 0;
}

.btn-menu span::before {
  top: -8px;
}

.btn-menu span::after {
  top: 8px;
}

.btn-close {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  background: transparent;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #0ca8fd;
  padding-right: 32px;
  transition: color 0.3s;
}

.btn-close .icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: fill 0.3s;
}

.is-no-touch .btn-close:hover {
  color: #58c3fe;
}

.is-no-touch .btn-close:hover .icon {
  fill: #58c3fe;
}

.btn-close.is-active {
  color: #58c3fe;
}

.btn-close.is-active .icon {
  fill: #58c3fe;
}

.btn-main {
  padding: 21px 17px;
  min-width: 194px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  font-size: calc(22px + (30 - 22) * ((100vw - 900px) / (1920 - 900)));
  line-height: 1;
  color: #fff;
  background: transparent;
}

.btn-main:after {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  right: -2px;
  top: 100%;
  margin-top: -1px;
  height: 6px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
}

.is-no-touch .btn-main:hover:not([disabled]) {
  top: 5px;
}

.is-no-touch .btn-main:hover:not([disabled]):after {
  display: none;
}

.btn-main.is-active:not([disabled]) {
  top: 5px;
}

.btn-main.is-active:not([disabled]):after {
  display: none;
}

.is-no-touch .btn-main:active:not([disabled]) {
  top: 5px;
}

.is-no-touch .btn-main:active:not([disabled]):after {
  display: none;
}

.btn-main:active:not([disabled]) {
  top: 5px;
}

.btn-main:active:not([disabled]):after {
  display: none;
}

.btn-category {
  min-width: 282px;
  text-transform: lowercase;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.4);
  word-break: break-word;
  background: transparent;
}

.btn-category.is-active {
  color: white;
}

.btn-category.is-active:before {
  width: 100%;
}

.btn-category.is-active:after {
  height: 100%;
}

.btn-category:before, .btn-category:after {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  border-color: #fff;
  transition: all 0.3s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn-category:before {
  width: 0;
  border-width: 4px 0 4px 0;
}

.btn-category:after {
  border-width: 0 4px 0 4px;
  height: 0;
}

.btn-category span {
  position: relative;
  z-index: 2;
}

.btn-category__inner {
  border: 4px solid rgba(255, 255, 255, 0.4);
  padding: 26px 15px;
}

.btn-back {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  padding-left: 30px;
  line-height: 1.4;
}

.btn-back:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 14px 10px 0;
  border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;
}

.is-no-touch .btn-back:hover {
  color: #fff;
}

.is-no-touch .btn-back:hover:before {
  border-right-color: #fff;
}

.btn-back.is-active {
  color: #fff;
}

.btn-back.is-active:before {
  border-right-color: #fff;
}

.btn-variation {
  background: transparent;
  min-width: 162px;
  padding: 10px 15px;
  color: #fff;
  border: 4px solid #fff;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  transition: all 0.3s ease;
}

.btn-variation:active {
  top: 1px;
}

.btn-change {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  padding-right: 50px;
  line-height: 1.4;
}

.is-no-touch .btn-change:hover {
  color: #fff;
}

.is-no-touch .btn-change:hover .icon {
  fill: #fff;
}

.btn-change.is-active {
  color: #fff;
}

.btn-change.is-active .icon {
  fill: #fff;
}

.btn-change .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s ease;
}

.icon-change {
  width: 1.13em;
  height: 1em;
  fill: initial;
}

.icon-check {
  width: 1em;
  height: 1em;
  fill: #000;
}

.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-donut {
  width: 1em;
  height: 1em;
  fill: #FFF;
}

body {
  background-color: #071e39;
  line-height: 1.4;
  font-size: 18px;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-weight: normal;
  color: #fff;
}

body.is-hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-weight: normal;
  transition: all 0.3s ease;
}

.title-primary {
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  font-size: 72px;
  font-size: calc(40px + (72 - 40) * ((100vw - 900px) / (1920 - 900)));
  line-height: 1;
}

.title-primary_centered {
  text-align: center;
}

.title-secondary {
  line-height: 1;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: normal;
  font-size: 48px;
  font-size: calc(32px + (48 - 32) * ((100vw - 900px) / (1920 - 900)));
}

.icon-check {
  font-size: 32px;
  fill: #fff;
}

.icon-close {
  font-size: 15px;
  fill: #0ca8fd;
}

.icon-change {
  font-size: 21px;
  fill: rgba(255, 255, 255, 0.4);
}

.icon-donut {
  font-size: 410px;
  font-size: calc(240px + (410 - 240) * ((100vw - 900px) / (1920 - 900)));
  fill: #fff;
}

[class^="i-icon"] {
  display: inline-block;
  vertical-align: middle;
}

.i-icon-money {
  background-image: url("../img/sprite.png");
  width: 29px;
  height: 45px;
  background-position: -210px 0px;
}

.i-icon-api {
  background-image: url("../img/sprite.png");
  width: 39px;
  height: 26px;
  background-position: -110px -110px;
}

.i-icon-card {
  background-image: url("../img/sprite.png");
  width: 43px;
  height: 45px;
  background-position: -110px -55px;
}

.i-icon-graph {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 39px;
  background-position: 0px -110px;
}

.i-icon-guard {
  background-image: url("../img/sprite.png");
  width: 33px;
  height: 45px;
  background-position: -165px -55px;
}

.i-icon-help {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: 0px -55px;
}

.i-icon-link {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: -55px -55px;
}

.i-icon-profile {
  background-image: url("../img/sprite.png");
  width: 35px;
  height: 45px;
  background-position: -165px 0px;
}

.i-icon-sale {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: -110px 0px;
}

.i-icon-worker {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: 0px 0px;
}

.i-icon-discount {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: -55px 0px;
}

.i-icon-help-new {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 39px;
  background-position: -55px -110px;
}

.i-icon-ruble {
  background-image: url("../img/sprite.png");
  width: 19px;
  height: 19px;
  background-position: -210px -55px;
}

.i-icon-ru {
  background-image: url("../img/sprite.png");
  width: 16px;
  height: 11px;
  background-position: -210px -105px;
}

.i-icon-sw {
  background-image: url("../img/sprite.png");
  width: 16px;
  height: 11px;
  background-position: -210px -126px;
}

.i-icon-rum {
  background-image: url("../img/sprite.png");
  width: 16px;
  height: 11px;
  background-position: -210px -84px;
}

.i-icon-uk {
  background-image: url("../img/sprite.png");
  width: 16px;
  height: 11px;
  background-position: -165px -110px;
}

.out {
  min-width: 320px;
  overflow: hidden;
}

.inner {
  position: relative;
  *zoom: 1;
}

.inner:after {
  content: " ";
  display: table;
  clear: both;
}

.perfomance {
  background-color: #7200d4;
}

.perfomance .inner {
  height: 100vh;
  min-height: 450px;
  text-align: center;
  font-size: 0;
}

.perfomance .inner:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.work .inner {
  min-height: 100vh;
  padding-bottom: 106px;
}

.web {
  background-color: #03162d;
  position: relative;
}

.web .inner {
  padding-top: 84px;
  padding-bottom: 112px;
  height: 100vh;
  min-height: 850px;
  z-index: 2;
}

.web .title-primary {
  margin-bottom: 30px;
}

.recl {
  background-color: #121c30;
  position: relative;
}

.recl .inner {
  padding-top: 112px;
  padding-bottom: 112px;
  height: 100vh;
  min-height: 850px;
  z-index: 4;
}

.recl .title-primary {
  margin-bottom: 30px;
}

.top-offers {
  background: #131d31 url(../img/bg-sec5.jpg) no-repeat center top;
  background-size: cover;
}

.top-offers .inner {
  padding-top: 110px;
  padding-bottom: 110px;
}

.description {
  text-align: center;
  background-color: #071e39;
}

.description .inner {
  padding-top: 86px;
  padding-bottom: 97px;
}

.topper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
  transition: background-color 0.3s;
}

.topper.is-fixed {
  background-color: #10192B;
}

.topper__left {
  float: left;
  font-size: 0;
  padding: 6px 0 0 12px;
}

.topper__right {
  float: right;
}

.topper .inner {
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo {
  font-family: "Panton", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 6;
}

.footer {
  position: relative;
  background-color: #03162d;
  text-align: left;
}

.footer__in {
  max-width: 1570px;
  margin: auto;
  position: relative;
  padding: 63px 15px;
  *zoom: 1;
}

.footer__in:after {
  content: " ";
  display: table;
  clear: both;
}

.footer__col1 {
  float: left;
  padding-top: 36px;
}

.footer__col2 {
  float: right;
}

.footer__logo {
  font-family: "Bebas Bold", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
}

.footer__content {
  max-width: 460px;
}

.footer__content-text {
  opacity: 0.36;
  font-family: "Bebas Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 12px;
  line-height: 1.2;
}

.payments {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 8px;
}

.payments__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.info-list {
  font-size: 0;
  line-height: 1;
  font-family: "Bebas Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.info-list__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 70px;
}

.info-list__item_blue .contact-list span,
.info-list__item_blue .info-list__title {
  color: #00aaff;
}

.info-list__title {
  color: #ff1799;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-weight: normal;
}

.info-list a {
  font-family: inherit;
  font-weight: normal;
}

.contact-list {
  font-size: 24px;
  margin-top: 18px;
}

.contact-list__item:not(:first-child) {
  margin-top: 12px;
}

.contact-list span, .contact-list p {
  display: inline-block;
  vertical-align: baseline;
}

.contact-list span {
  width: 72px;
  padding-right: 10px;
  color: #ff1799;
}

.brands {
  background-color: #fff;
}

.brands__in {
  padding: 15px;
  overflow: hidden;
}

.brands-list {
  font-size: 0;
}

.brands-list__item {
  display: inline-block;
  vertical-align: middle;
}

.brands-list img {
  display: block;
  max-width: 100%;
}

.comments {
  font-size: 0;
  max-width: 1434px;
  margin: 82px -50px 0;
  display: inline-block;
}

.comments__item {
  width: 33.3333%;
  display: inline-block;
  vertical-align: top;
  padding: 0 50px;
  outline: none;
}

.profile {
  max-width: 411px;
  min-height: 655px;
  display: block;
  margin: auto;
  padding: 45px 32px 50px;
  border: 2px solid #27344d;
  text-align: center;
}

.profile__media {
  width: 112px;
  height: 112px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  background-color: #FFF;
}

.profile__media img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.profile__name {
  font-size: 24px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__site {
  font-size: 14px;
  color: #ff1799;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__circle {
  margin-top: 32px;
}

.profile__circle span {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #fb1d95;
}

.profile__circle span + span {
  margin-left: 23px;
}

.profile__desc {
  font-size: 16px;
  margin-top: 32px;
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
  background: #10192b;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  transition: 0.3s ease 0.5s;
  text-align: left;
}

.sidebar.is-active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0s;
}

.sidebar__in {
  width: 251px;
  min-height: 100vh;
  padding: 100px 0;
}

.navigation a {
  font-size: 18px;
  color: #afafaf;
  line-height: 52px;
  display: block;
  padding-left: 32px;
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  position: relative;
}

.navigation a:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #0CA8FD;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.navigation a.is-active {
  color: #fff;
}

.navigation a.is-active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.is-no-touch .navigation a:hover {
  color: #fff;
}

.is-no-touch .navigation a:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.navigation a.is-active {
  color: #fff;
}

.navigation a.is-active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.webmasters {
  position: relative;
  z-index: 5;
  font-size: 0;
}

.webmasters__col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.webmasters__col .list {
  text-align: left;
  display: inline-block;
}

.webmasters__btn {
  margin-top: 56px;
  padding-left: 47px;
}

.webmasters__btn .btn-primary {
  padding: 27px 72px;
  line-height: 1;
}

.diagram-webmaster {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.diagram-webmaster img {
  display: block;
  height: auto;
  width: 100%;
}

.diagram-webmaster__board span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  text-transform: uppercase;
  color: #fb1d95;
  font-size: 14px;
  font-family: "Robotocondensed", Arial, sans-serif;
  font-weight: normal;
}

.diagram-webmaster .point-1 {
  left: 3.79547%;
  top: 78.8%;
}

.diagram-webmaster .point-2 {
  left: 14.44386%;
  top: 26.8%;
}

.diagram-webmaster .point-3 {
  left: 20.82235%;
  top: 84.2%;
}

.diagram-webmaster .point-4 {
  left: 24.82868%;
  top: 3.8%;
}

.diagram-webmaster .point-5 {
  left: 31.57617%;
  top: 52.7%;
}

.diagram-webmaster .point-6 {
  left: 39.74697%;
  top: 63%;
}

.diagram-webmaster .point-7 {
  left: 50.1845%;
  top: 20.6%;
}

.diagram-webmaster .point-8 {
  left: 58.67159%;
  top: 53.5%;
}

.diagram-webmaster .point-9 {
  left: 64.99736%;
  top: 43%;
}

.diagram-webmaster .point-10 {
  left: 73.37902%;
  top: 28.7%;
}

.diagram-webmaster .point-11 {
  left: 79.75751%;
  top: 46.7%;
}

.diagram-webmaster .point-12 {
  left: 88.50817%;
  top: 31.7%;
}

.diagram-webmaster .point-13 {
  left: 96.7844%;
  top: 32.7%;
}

.commercial {
  position: relative;
  z-index: 5;
  font-size: 0;
}

.commercial__col {
  display: inline-block;
  vertical-align: top;
}

.commercial__btn {
  margin-top: 56px;
}

.commercial__btn .btn-primary {
  line-height: 1;
  padding: 27px 72px;
}

.commercial .list {
  max-width: 384px;
  display: inline-block;
  text-align: left;
}

.diagram-commercial {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.diagram-commercial img {
  display: block;
  height: auto;
  width: 100%;
}

.diagram-commercial .point-1 {
  left: 3.79547%;
  top: 96.8%;
}

.diagram-commercial .point-2 {
  left: 15.34001%;
  top: 90.8%;
}

.diagram-commercial .point-3 {
  left: 28.51871%;
  top: 83.2%;
}

.diagram-commercial .point-4 {
  left: 37.53295%;
  top: 68.8%;
}

.diagram-commercial .point-5 {
  left: 50.13179%;
  top: 65.7%;
}

.diagram-commercial .point-6 {
  left: 59.40959%;
  top: 50%;
}

.diagram-commercial .point-7 {
  left: 71.27043%;
  top: 47.6%;
}

.diagram-commercial .point-8 {
  left: 81.65525%;
  top: 33.5%;
}

.diagram-commercial .point-9 {
  left: 93.09436%;
  top: 9%;
}

.diagram-commercial .point-10 {
  right: 0;
  top: 0.7%;
}

.board {
  padding: 7px 16px;
  background-color: #00aaff;
  text-transform: uppercase;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  margin-bottom: 62px;
  -webkit-animation: jumping linear 1s infinite;
  animation: jumping linear 1s infinite;
}

.board_1 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.board_2 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.board_3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.board_4 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.board_5 {
  -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
}

.board_6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.board_7 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.board_8 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.board_9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.board_10 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.board_11 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.board_12 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.board_13 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.board:before, .board:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.board:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #00aaff transparent transparent transparent;
}

.board:before {
  width: 1px;
  height: 52px;
  background-color: #00aaff;
}

.board_pink {
  background-color: #ff1799;
}

.board_pink:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #ff1799 transparent transparent transparent;
}

.board_pink:before {
  background-color: #ff1799;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}

.list__item_top-vertical .list__item-icon,
.list__item_top-vertical .list__item-text {
  vertical-align: top;
}

.list__item-icon, .list__item-text {
  display: table-cell;
  vertical-align: middle;
}

.list__item-text {
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-transform: lowercase;
}

.offer {
  text-align: center;
  display: table;
  margin: auto;
}

.offer__title {
  font-size: 48px;
  font-size: calc(32px + (48 - 32) * ((100vw - 900px) / (1920 - 900)));
  margin-top: 40px;
  margin-top: calc(20px + (40 - 20) * ((100vw - 900px) / (1920 - 900)));
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
}

.offer__media {
  margin: auto;
}

.offer__button {
  margin-top: 50px;
  margin-top: calc(30px + (50 - 30) * ((100vw - 900px) / (1920 - 900)));
}

.picture-wrp {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.picture-human {
  width: 560px;
  height: 556px;
  position: absolute;
  top: 93px;
  right: 102px;
}

.picture-man {
  width: 560px;
  height: 547px;
  position: absolute;
  top: 82px;
  left: 10.32432%;
  z-index: 1;
  -webkit-transform-origin: 200px 100%;
  -ms-transform-origin: 200px 100%;
  transform-origin: 200px 100%;
}

.entry {
  font-size: 0;
}

.entry__item {
  display: inline-block;
  vertical-align: middle;
}

.entry__item + .entry__item {
  margin-left: 40px;
}

.entry a {
  color: #fafafc;
  font-size: 18px;
}

.entry a:hover, .entry a:focus {
  color: #cacadf;
}

.company {
  line-height: 1;
  max-width: 430px;
  display: inline-block;
  vertical-align: middle;
}

.company__logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.company__text {
  font-size: 32px;
  font-size: calc(24px + (32 - 24) * ((100vw - 900px) / (1920 - 900)));
  margin-top: 5px;
}

.company__button {
  margin-top: 46px;
}

.points-wrp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.point {
  width: 1px;
  height: 1px;
  position: absolute;
}

.point:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: -7px 0 0 -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.advantages {
  position: relative;
  padding: 40px;
}

.advantages-list {
  text-align: center;
}

.advantages-list__item {
  display: inline-block;
  vertical-align: top;
  width: 16%;
  margin-top: 69px;
  padding: 0 10px;
  min-width: 220px;
}

.advantages-top {
  *zoom: 1;
  padding: 120px 0 60px;
  text-align: center;
  font-size: 0;
}

.advantages-top:after {
  content: " ";
  display: table;
  clear: both;
}

.advantages-top:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.advantages-text {
  position: relative;
  max-width: 400px;
  line-height: 1.2;
  margin-right: 9.18919%;
  display: inline-block;
  vertical-align: middle;
}

.advantages-text__title {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: normal;
  font-size: 48px;
  font-size: 48px;
  font-size: calc(28px + (48 - 28) * ((100vw - 900px) / (1920 - 900)));
  letter-spacing: -0.01em;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-bottom: 20px;
  margin-bottom: calc(10px + (20 - 10) * ((100vw - 900px) / (1920 - 900)));
}

.advantages-text__bottom {
  font-size: 28px;
  font-size: 28px;
  font-size: calc(20px + (28 - 20) * ((100vw - 900px) / (1920 - 900)));
  line-height: 1.2;
}

.unit {
  margin: auto;
  max-width: 260px;
  text-align: center;
}

.unit__media {
  position: relative;
  width: 82px;
  height: 82px;
  border: 2px solid #af25eb;
  border-radius: 50%;
  margin: 0 auto 62px;
}

.unit__media:before, .unit__media:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 22px;
  background-color: #af25eb;
  left: 0;
  right: 0;
  margin: auto;
}

.unit__media:before {
  bottom: 100%;
  margin-bottom: 13px;
}

.unit__media:after {
  top: 100%;
  margin-top: 13px;
}

.unit__media i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.unit__descr {
  font-size: 18px;
  line-height: 1.2;
  -moz-text-align-last: center;
  text-align-last: center;
}

.advantages-graph {
  position: relative;
  width: 54%;
  display: inline-block;
  vertical-align: middle;
}

.advantages-graph__small {
  display: none;
}

.advantages-graph img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.graph-board {
  width: 139px;
  border: 1px solid #fb1d95;
  padding: 0 0 0 12px;
}

.graph-board__price {
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  margin-top: -12px;
}

.graph-board__price i {
  margin: -10px 0 0 -2px;
}

.graph-board__text {
  margin-top: 10px;
}

.popup.is-active {
  visibility: visible;
  opacity: 1;
}

.popup__window {
  display: block;
  margin: auto;
  max-width: 808px;
  width: 100%;
  box-shadow: 0 0 21px #000000;
  border: 1px solid #29293c;
  background-color: #1b1b28;
}

.popup__body {
  font-size: 16px;
}

.popup__caption {
  padding: 22px 0;
  display: table;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
}

.popup__top {
  background-color: #181823;
  text-align: left;
  padding: 9px 44px;
  position: relative;
}

.popup__top-title {
  font-size: 30px;
  font-size: calc(22px + (30 - 22) * ((100vw - 900px) / (1920 - 900)));
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
}

.popup__row {
  background-color: #1B1B28;
  padding: 12px 0px;
  display: table;
  width: 100%;
}

.popup__row:nth-child(even) {
  background-color: #181823;
}

.popup__col, .popup__caption-col {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.popup__col_1, .popup__caption-col_1 {
  width: 46%;
  padding-left: 44px;
}

.popup__col_2, .popup__caption-col_2 {
  width: 35%;
}

.popup__col_3, .popup__caption-col_3 {
  width: 19%;
  padding-right: 52px;
}

.popup-offers.is-active {
  visibility: visible;
  opacity: 1;
}

.product {
  display: table;
}

.product__media {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.product__media img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.product__desc {
  display: table-cell;
  vertical-align: middle;
  padding-left: 22px;
}

.flags {
  font-size: 0;
}

.flags i:not(:last-of-type) {
  margin-right: 16px;
}

.popup-checkin {
  padding: 100px;
}

.popup-checkin.is-active {
  visibility: visible;
  opacity: 1;
}

.popup-checkin__window {
  max-width: 864px;
  width: 100%;
  margin: auto;
}

.popup-checkin__top {
  text-align: left;
  *zoom: 1;
}

.popup-checkin__top:after {
  content: " ";
  display: table;
  clear: both;
}

.popup-checkin__body {
  padding-top: 126px;
}

.popup-checkin__title {
  font-size: 48px;
}

.popup-login {
  padding: 100px;
}

.popup-login.is-active {
  visibility: visible;
  opacity: 1;
}

.popup-login__window {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.popup-login__top {
  text-align: left;
}

.popup-login__body {
  padding-top: 20px;
}

.popup-login__sub {
  padding-top: 8px;
}

.popup-login__title {
  font-size: 48px;
}

.tabs {
  text-align: left;
  *zoom: 1;
}

.tabs:after {
  content: " ";
  display: table;
  clear: both;
}

.tabs-content {
  position: relative;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item.is-active {
  display: block;
}

.tabs-control__link {
  font-size: 24px;
  line-height: 1.2;
  display: block;
  padding-bottom: 36px;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
  position: relative;
  cursor: default;
}

.tabs-control__link:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
}

.tabs-control__link.is-active {
  color: #fff;
}

.tabs-control__link.is-active:after {
  -webkit-transform: scaleY(2);
  -ms-transform: scaleY(2);
  transform: scaleY(2);
  background-color: #fff;
}

.form {
  position: relative;
}

.form__bottom {
  text-align: right;
  margin-top: 40px;
}

.form__row {
  position: relative;
  *zoom: 1;
}

.form__row:after {
  content: " ";
  display: table;
  clear: both;
}

.form__row.is-focused:before {
  color: #fff;
}

.form__row.is-focused .field {
  border-bottom-color: #fff;
}

.form__row.is-focused .input::-webkit-input-placeholder {
  color: #fff;
}

.form__row.is-focused .input::-moz-placeholder {
  color: #fff;
}

.form__row.is-focused .input:-ms-input-placeholder {
  color: #fff;
}

.form__row.is-focused .input::placeholder {
  color: #fff;
}

.form__row.is-error .input {
  -webkit-transform: scale(0.5) translate(-50%, -50%);
  -ms-transform: scale(0.5) translate(-50%, -50%);
  transform: scale(0.5) translate(-50%, -50%);
}

.form__row.is-error .error {
  visibility: visible;
  opacity: 1;
}

.form__action {
  text-align: right;
  counter-reset: list;
}

.form__action:not(:first-of-type) {
  padding-top: 60px;
}

.form__action .btn-category__inner:before {
  counter-increment: list;
  content: "0" counter(list);
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
  background-color: #7200d4;
  font-size: 18px;
  padding: 0 18px;
  margin-top: -6px;
}

.form__capcha {
  margin-top: 31px;
}

.field {
  position: relative;
  border-bottom: 4px solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.input {
  background: none;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  padding: 12px 0;
  display: block;
  width: 100%;
  color: #fff;
  -webkit-transform: scale(1) translate(0, 0);
  -ms-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
  transition: all 0.3s ease;
}

.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.error {
  display: none;
  visibility: hidden;
  opacity: 0;
  padding: 8px 28px;
  background-color: #eb2121;
  border-radius: 19px;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease;
}

.change {
  display: none;
}

.change__top {
  padding-top: 8px;
}

.change__bottom {
  padding-top: 20px;
}

.capcha {
  max-width: 274px;
  display: inline-block;
  vertical-align: top;
}

.info {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  max-width: 380px;
  text-align: right;
  display: inline-block;
  padding-top: 17px;
}

.select-default {
  display: none;
}

.select {
  position: relative;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  position: relative;
  border-bottom: 4px solid #fff;
}

.select.is-open .select__list {
  display: block;
}

.select__text {
  background-color: transparent;
  color: #fff;
  padding: 9px 0;
  display: block;
  position: relative;
  cursor: pointer;
}

.select__text:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 20px;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select__list {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 4px;
  box-shadow: 0 0 60px rgba(1, 2, 4, 0.13);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
}

.select li {
  padding: 8px 20px;
  cursor: pointer;
  background-color: #7200d4;
  transition: background-color 0.3s;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.is-no-touch .select li:hover {
  color: #fff;
}

.select li.is-active {
  color: #fff;
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  20% {
    -webkit-transform: translate3d(-50%, -75%, 0);
    transform: translate3d(-50%, -75%, 0);
  }
  40% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  20% {
    -webkit-transform: translate3d(-50%, -75%, 0);
    transform: translate3d(-50%, -75%, 0);
  }
  40% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.complete {
  min-height: 100vh;
  background-color: #7200d4;
}

.complete__content {
  display: block;
  margin: auto;
  max-width: 900px;
  padding: 115px 20px;
  font-size: 18px;
  text-align: center;
}

.complete__title {
  margin-bottom: 36px;
  line-height: 1.1;
}

.complete__text {
  margin-bottom: 60px;
}

.complete__btn {
  margin-bottom: 40px;
}

.complete__if {
  margin-bottom: 28px;
  position: relative;
}

.complete__if span {
  padding: 0 18px;
  display: inline-block;
  background: #7200d4;
  position: relative;
  z-index: 1;
}

.complete__if:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
  margin: auto;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 601px) {

  .btn-category:nth-of-type(even) {
    margin-left: 28px;
  }

  .list__item:not(:last-child) {
    margin-bottom: 22px;
  }

  .list__item-text {
    padding-left: 20px;
  }

  .popup-checkin__col-1 {
    float: left;
    max-width: 400px;
  }

  .popup-checkin__col-2 {
    float: right;
    text-align: right;
    max-width: 350px;
  }

  .form__action {
    margin-left: -30px;
  }

  .change {
    float: right;
  }
}

@media only screen and (min-width: 901px) {

  .web .title-primary {
    margin-bottom: 81px;
  }

  .recl .title-primary {
    margin-bottom: 81px;
  }

  .info-list {
    padding: 26px 0 36px;
  }

  .info-list__item:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
    width: 2px;
    background-color: #ffffff;
    opacity: 0.05;
  }

  .webmasters__col + .webmasters__col {
    padding-left: 66px;
  }

  .commercial__col + .commercial__col {
    padding-left: 56px;
  }

  .popup-checkin__sub {
    padding-top: 8px;
  }

  .popup-login__body {
    padding-top: 40px;
    padding-left: 26px;
  }

  .tabs-content {
    float: right;
    width: 594px;
    padding-left: 30px;
  }

  .tabs-control {
    float: left;
    width: 142px;
    min-height: 1px;
  }

  .tabs-control__link:not(:first-of-type) {
    margin-top: 20px;
  }

  .form__row:before {
    content: '*';
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 14px;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
  }

  .form__row:not(:first-of-type) {
    margin-top: 20px;
  }

  .form__col-1 {
    width: 41%;
    float: left;
    padding-right: 27px;
  }

  .form__col-2 {
    width: 59%;
    float: right;
  }
}

@media only screen and (min-width: 1201px) {

  .web:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/lines-bg.png) no-repeat center;
    background-size: cover;
    top: 0;
    right: 0;
    left: 38px;
    height: 1218px;
    z-index: 2;
  }

  .recl:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/lines-bg.png) no-repeat center;
    background-size: cover;
    top: 0;
    right: 0;
    left: 38px;
    height: 1218px;
    z-index: 1;
  }

  .payments__item + .payments__item {
    margin-left: 22px;
  }

  .brands-list__item:not(:last-child) {
    padding-right: 30px;
  }
}

@media only screen and (min-width: 1601px) {

  .webmasters {
    padding-left: 38%;
  }

  .webmasters__col {
    max-width: 534px;
  }

  .webmasters__col:nth-of-type(1) {
    max-width: 380px;
  }

  .commercial {
    padding-left: 17.08108%;
  }

  .commercial__btn {
    padding-left: 47px;
  }
}

@media only screen and (min-width: 1700px) {

  .brands-list {
    text-align: justify;
    line-height: 0;
    font-size: 0;
    text-justify: newspaper;
    zoom: 1;
    -moz-text-align-last: justify;
    text-align-last: justify;
  }

  .brands-list:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1901px) {

  .topper .inner {
    max-width: none;
  }
}

@media (min-width: 1920px) {

  .btn-secondary {
    font-size: 20px;
  }

  .btn-main {
    font-size: 30px;
  }

  .title-primary {
    font-size: 72px;
  }

  .title-secondary {
    font-size: 48px;
  }

  .icon-donut {
    font-size: 410px;
  }

  .offer__title {
    font-size: 48px;
  }

  .offer__title {
    margin-top: 40px;
  }

  .offer__button {
    margin-top: 50px;
  }

  .company__text {
    font-size: 32px;
  }

  .advantages-text__title {
    font-size: 48px;
  }

  .advantages-text__title {
    margin-bottom: 20px;
  }

  .advantages-text__bottom {
    font-size: 28px;
  }

  .popup__top-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {

  .popup-login__body {
    margin-left: -20px;
  }
}

@media only screen and (max-width: 1700px) {

  .brands-list {
    text-align: left;
  }
}

@media only screen and (max-width: 1600px) {

  .info-list__item {
    padding: 0 20px;
  }

  .brands-list {
    text-align: center;
  }

  .webmasters__col:nth-of-type(1) {
    text-align: right;
  }

  .webmasters__col .list {
    max-width: 450px;
  }

  .webmasters__btn {
    padding-left: 0;
  }

  .commercial__col {
    text-align: right;
    width: 50%;
  }

  .commercial__col + .commercial__col {
    text-align: left;
  }

  .commercial .list {
    max-width: 500px;
  }

  .picture-human {
    right: -180px;
  }

  .picture-man {
    left: -80px;
  }

  .company img {
    width: 80%;
    margin: auto;
  }

  .advantages-graph__small {
    display: block;
  }

  .advantages-graph__big {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {

  .btn-primary {
    font-size: 16px;
    padding: 24px 34px;
  }

  .work .inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .web .inner {
    min-height: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .recl .inner {
    min-height: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .top-offers .inner {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .description .inner {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__in {
    padding: 20px 15px;
  }

  .footer__col1 {
    padding-top: 30px;
  }

  .footer__logo {
    font-size: 42px;
  }

  .footer__content {
    max-width: 330px;
  }

  .payments {
    display: block;
  }

  .payments__item {
    margin: 0 20px 0 0;
  }

  .info-list__item {
    padding: 0 30px 0 0;
  }

  .info-list__item:last-of-type {
    padding-right: 0;
  }

  .info-list__title {
    font-size: 20px;
  }

  .contact-list {
    font-size: 20px;
  }

  .contact-list span {
    max-width: 55px;
  }

  .brands-list {
    margin-top: -30px;
  }

  .brands-list__item {
    padding: 30px 30px 0 0;
  }

  .comments {
    margin: 30px -20px 0;
  }

  .comments__item {
    padding: 0 20px;
  }

  .profile {
    padding: 20px;
    max-width: none;
    min-height: 555px;
  }

  .webmasters__col:nth-of-type(1) {
    text-align: left;
  }

  .webmasters__col .list {
    max-width: 500px;
    width: 100%;
  }

  .diagram-webmaster {
    display: none;
  }

  .diagram-webmaster img {
    display: none;
  }

  .commercial__col {
    text-align: left;
  }

  .diagram-commercial {
    display: none;
  }

  .list__item-text {
    line-height: 1.6;
  }

  .picture-human {
    display: none;
  }

  .picture-man {
    display: none;
  }

  .company {
    max-width: 360px;
  }

  .advantages {
    padding: 0;
  }

  .advantages-top {
    padding: 0;
  }

  .advantages-text {
    margin-right: 0;
  }

  .advantages-graph {
    display: none;
  }

  .popup {
    padding: 60px 20px;
  }

  .popup-offers {
    padding: 60px 20px;
  }

  .popup-checkin {
    padding: 60px 20px;
  }

  .popup-login {
    padding: 60px 20px;
  }
}

@media (max-width: 900px) {

  .btn-secondary {
    font-size: 16px;
  }

  .btn-main {
    font-size: 22px;
  }

  .title-primary {
    font-size: 40px;
  }

  .title-secondary {
    font-size: 32px;
  }

  .icon-donut {
    font-size: 240px;
  }

  .offer__title {
    font-size: 32px;
  }

  .offer__title {
    margin-top: 20px;
  }

  .offer__button {
    margin-top: 30px;
  }

  .company__text {
    font-size: 24px;
  }

  .advantages-text__title {
    font-size: 28px;
  }

  .advantages-text__title {
    margin-bottom: 10px;
  }

  .advantages-text__bottom {
    font-size: 20px;
  }

  .popup__top-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 900px) {

  .btn-main {
    min-width: auto;
    padding: 16px 40px;
  }

  .btn-category {
    margin-top: 40px;
    min-width: 240px;
    font-size: 22px;
  }

  .btn-category__inner {
    padding: 20px;
  }

  .btn-back {
    font-size: 18px;
    padding-left: 20px;
  }

  .btn-back:before {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 10px 7px 0;
    border-color: transparent rgba(255, 255, 255, 0.4) transparent transparent;
  }

  .btn-variation {
    font-size: 18px;
    border: 0;
    padding: 0;
  }

  .btn-change {
    font-size: 18px;
    padding-right: 35px;
  }

  .btn-change .icon {
    font-size: 16px;
  }

  .inner {
    padding: 0 10px;
  }

  .footer__in {
    padding: 40px 15px;
  }

  .footer__col1 {
    padding: 0;
  }

  .footer__col2 {
    float: none;
    clear: both;
  }

  .footer__content {
    max-width: 500px;
  }

  .info-list__item {
    padding: 20px 20px 0 0;
  }

  .comments {
    max-width: none;
    margin: 0 -10px;
    text-align: left;
  }

  .comments__item {
    width: 50%;
    margin-top: 30px;
    padding: 0 15px;
  }

  .webmasters__col {
    width: 100%;
    text-align: center;
  }

  .webmasters__col:nth-of-type(1) {
    text-align: center;
  }

  .webmasters__col + .webmasters__col {
    margin-top: 22px;
  }

  .webmasters__btn {
    text-align: center;
    margin-top: 40px;
  }

  .commercial__col {
    width: 100%;
    text-align: center;
  }

  .commercial__col + .commercial__col {
    margin-top: 22px;
    text-align: center;
  }

  .commercial__btn {
    text-align: center;
    margin-top: 40px;
  }

  .commercial .list {
    width: 100%;
  }

  .popup-offers {
    padding: 60px 10px;
  }

  .popup-offers .popup__window {
    min-width: auto;
    overflow-x: auto;
  }

  .popup-offers .popup__col_1,
  .popup-offers .popup__caption-col_1 {
    padding-left: 15px;
  }

  .popup-offers .popup__col_3,
  .popup-offers .popup__caption-col_3 {
    padding-right: 15px;
  }

  .popup-offers .popup__top {
    padding: 9px 15px;
    min-width: 500px;
  }

  .popup-offers .popup__body {
    min-width: 500px;
  }

  .popup-checkin__body {
    padding-top: 30px;
  }

  .popup-checkin__title {
    font-size: 26px;
  }

  .popup-login__title {
    font-size: 26px;
  }

  .tabs-content {
    margin-left: -20px;
  }

  .tabs-control {
    margin-left: -15px;
  }

  .tabs-control__link {
    width: 33.3333%;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    font-size: 18px;
    padding-bottom: 20px;
  }

  .tabs-control__link:after {
    left: 15px;
  }

  .tabs-control__link.is-active:after {
    -webkit-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    transform: scaleY(1.5);
  }

  .form__bottom {
    margin-top: 30px;
  }

  .form__row {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
  }

  .form__capcha {
    text-align: right;
    margin-top: 30px;
  }

  .input {
    font-size: 20px;
  }

  .change__bottom {
    padding-top: 10px;
  }

  .info {
    padding-top: 8px;
    font-size: 18px;
  }

  .select {
    font-size: 18px;
  }

  .select__text {
    line-height: 1.6;
    padding: 10px 0;
  }

  .select li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {

  .btn-category {
    min-width: auto;
    width: 100%;
    margin-top: 20px;
  }

  .btn-variation {
    text-align: left;
  }

  .title-primary {
    font-size: 32px;
  }

  .title-secondary {
    font-size: 28px;
  }

  .topper__left {
    padding: 0;
  }

  .topper__right {
    display: none;
  }

  .topper .inner {
    padding-top: 10px;
    padding-bottom: 14px;
  }

  .comments__item {
    width: 100%;
  }

  .profile {
    min-height: auto;
    padding: 40px 20px;
  }

  .webmasters__col + .webmasters__col {
    margin-top: 10px;
  }

  .webmasters__btn .btn-primary {
    font-size: 20px;
    padding: 20px 30px;
  }

  .commercial__col + .commercial__col {
    margin-top: 10px;
  }

  .commercial__btn .btn-primary {
    font-size: 20px;
    padding: 20px 30px;
  }

  .list__item-icon {
    display: none;
  }

  .company {
    max-width: 250px;
  }

  .company__text {
    font-size: 20px;
  }

  .advantages-list__item {
    margin-top: 40px;
    width: 100%;
  }

  .unit {
    max-width: 320px;
  }

  .unit__media {
    display: none;
  }

  .popup {
    padding: 60px 10px;
  }

  .popup-offers {
    padding: 60px 10px;
  }

  .popup-checkin {
    padding: 60px 10px;
  }

  .popup-checkin__col-2 {
    margin-top: 10px;
  }

  .popup-login {
    padding: 60px 10px;
  }

  .tabs-content {
    margin-left: 0;
  }

  .form__row {
    width: 100%;
    display: block;
    padding-left: 0;
  }

  .info {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
