html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Bebas Bold";
  src: url("fonts/bebasneue_bold.woff2") format("woff2"), url("fonts/bebasneue_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Regular";
  src: url("fonts/bebasneue_regular.woff2") format("woff2"), url("fonts/bebasneue_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("fonts/panton.woff2") format("woff2"), url("fonts/panton.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extrabold";
  src: url("fonts/gilroy-extrabold.woff2") format("woff2"), url("fonts/gilroy-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/roboto-bold.woff2") format("woff2"), url("fonts/roboto-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  src: url("fonts/roboto-light.woff2") format("woff2"), url("fonts/roboto-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/roboto-medium.woff2") format("woff2"), url("fonts/roboto-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/roboto-regular.woff2") format("woff2"), url("fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotocondensed";
  src: url("fonts/robotocondensed-regular.woff2") format("woff2"), url("fonts/robotocondensed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomono Bold";
  src: url("fonts/robotomono-bold.woff2") format("woff2"), url("fonts/robotomono-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomono Light";
  src: url("fonts/robotomono-light.woff2") format("woff2"), url("fonts/robotomono-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomono Regular";
  src: url("fonts/robotomono-regular.woff2") format("woff2"), url("fonts/robotomono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn {
  color: #fff;
  line-height: 1;
  background-color: #00aaff;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
  padding: 18px 25px;
}

.btn:hover, .btn:focus {
  background-color: #33bbff;
}

.btn:active {
  background-color: #0099e6;
}

.btn-primary {
  background-color: #ff1799;
  padding: 27px 60px;
  color: #fafafc;
  font-size: 20px;
  font-family: "Robotomono Bold", Arial, sans-serif;
  font-weight: normal;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #ff31a4;
}

.btn-primary:active {
  background-color: #fd008d;
}

.btn-primary_blue {
  background-color: #00aaff;
}

.btn-primary_blue:hover, .btn-primary_blue:focus {
  background-color: #33bbff;
}

.btn-primary_blue:active {
  background-color: #0099e6;
}

.btn-secondary {
  line-height: 1;
  color: #0ca8fd;
  font-size: 20px;
  font-family: "Robotomono Bold", Arial, sans-serif;
  font-weight: normal;
  border: 2px solid #0ca8fd;
  border-radius: 37px;
  padding: 25px 70px;
  overflow: hidden;
}

.btn-secondary:hover, .btn-secondary:focus {
  border-color: #fb1d95;
}

.btn-secondary:hover .btn-secondary__in, .btn-secondary:focus .btn-secondary__in {
  right: 0;
}

.btn-secondary__in {
  position: absolute;
  top: -2px;
  bottom: -2px;
  width: 100%;
  top: 0;
  right: 120%;
  background-color: #fb1d95;
  display: block;
  transition: right 0.3s;
}

.btn-secondary__text {
  position: relative;
  z-index: 2;
}

.btn-menu {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 28px;
  height: 20px;
  position: relative;
  overflow: hidden;
  top: 1px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.btn-menu span {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn-menu span::after, .btn-menu span::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  background-color: #fff;
  left: 0;
  right: 0;
}

.btn-menu span::before {
  top: -8px;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  transition: width 0.2s, top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s, top 0.2s;
  transition: transform 0.2s, width 0.2s, top 0.2s, -webkit-transform 0.2s;
}

.btn-menu span::after {
  top: 8px;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  transition: width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s, bottom 0.2s;
  transition: transform 0.2s, width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
}

.btn-menu.is-active span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-menu.is-active span::before, .btn-menu.is-active span::after {
  width: 40%;
}

.btn-menu.is-active span::before {
  -webkit-transform: translateX(15px) translateY(9px) rotate(-45deg);
  -ms-transform: translateX(15px) translateY(9px) rotate(-45deg);
  transform: translateX(15px) translateY(9px) rotate(-45deg);
}

.btn-menu.is-active span::after {
  -webkit-transform: translateX(14px) translateY(-9px) rotate(45deg);
  -ms-transform: translateX(14px) translateY(-9px) rotate(45deg);
  transform: translateX(14px) translateY(-9px) rotate(45deg);
}

.inner, .brands__in, .picture-wrp {
  max-width: 1880px;
  margin: auto;
  padding: 0 15px;
}

.btn, .btn-primary, .btn-secondary {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 3px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  text-align: center;
}

.picture-wrp img, .company img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.icon-check {
  width: 1em;
  height: 1em;
  fill: #000;
}

body {
  background-color: #071e39;
  line-height: 1.4;
  font-size: 18px;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-weight: normal;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-weight: normal;
  transition: all 0.3s ease;
}

.title-primary {
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  font-size: 72px;
  line-height: 1;
}

.title-primary_centered {
  text-align: center;
}

.title-secondary {
  line-height: 1;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: normal;
  font-size: 48px;
}

.icon-check {
  font-size: 32px;
  fill: #fff;
}

[class^="i-icon"] {
  display: inline-block;
  vertical-align: middle;
}

.i-icon-money {
  background-image: url("../img/sprite.png");
  width: 29px;
  height: 45px;
  background-position: -210px 0px;
}

.i-icon-api {
  background-image: url("../img/sprite.png");
  width: 39px;
  height: 26px;
  background-position: -110px -110px;
}

.i-icon-card {
  background-image: url("../img/sprite.png");
  width: 43px;
  height: 45px;
  background-position: -110px -55px;
}

.i-icon-graph {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 39px;
  background-position: -55px -110px;
}

.i-icon-guard {
  background-image: url("../img/sprite.png");
  width: 33px;
  height: 45px;
  background-position: -165px -55px;
}

.i-icon-help {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: 0px 0px;
}

.i-icon-link {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: -110px 0px;
}

.i-icon-profile {
  background-image: url("../img/sprite.png");
  width: 35px;
  height: 45px;
  background-position: -165px 0px;
}

.i-icon-sale {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: -55px -55px;
}

.i-icon-worker {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: -55px 0px;
}

.i-icon-discount {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 45px;
  background-position: 0px -55px;
}

.i-icon-help-new {
  background-image: url("../img/sprite.png");
  width: 45px;
  height: 39px;
  background-position: 0px -110px;
}

.out {
  min-height: 320px;
  overflow: hidden;
}

.inner {
  position: relative;
  *zoom: 1;
}

.inner:after {
  content: " ";
  display: table;
  clear: both;
}

.section1 {
  background-color: #7200d4;
  height: 100vh;
  min-height: 800px;
}

.section1 .inner {
  height: 100%;
}

.section3 {
  background-color: #03162d;
  position: relative;
  min-height: 948px;
}

.section3:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/lines-bg.png) no-repeat center;
  background-size: cover;
  top: 0;
  right: 0;
  left: 38px;
  height: 1218px;
  z-index: 2;
}

.section3 .inner {
  padding-top: 84px;
  padding-bottom: 112px;
  z-index: 2;
}

.section3 .title-primary {
  margin-bottom: 81px;
}

.section4 {
  background-color: #121c30;
  min-height: 949px;
  position: relative;
}

.section4:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/lines-bg.png) no-repeat center;
  background-size: cover;
  top: 0;
  right: 0;
  left: 38px;
  height: 1218px;
  z-index: 1;
}

.section4 .inner {
  padding-top: 112px;
  padding-bottom: 112px;
  z-index: 4;
}

.section4 .title-primary {
  margin-bottom: 81px;
}

.section5 {
  background: #131d31 url(../img/bg-sec5.jpg) no-repeat center top;
  background-size: cover;
}

.section5 .inner {
  padding-top: 110px;
  padding-bottom: 110px;
}

.section6 {
  text-align: center;
  background-color: #071E39;
}

.section6 .inner {
  padding-top: 86px;
  padding-bottom: 97px;
}

.topper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
  transition: background-color 0.3s;
}

.topper.is-fixed {
  background-color: #10192B;
}

.topper__left {
  float: left;
  font-size: 0;
  padding-top: 6px;
}

.topper__right {
  float: right;
}

.topper .inner {
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo {
  font-family: "Panton", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.columns {
  height: 100%;
  text-align: center;
  font-size: 0;
}

.columns:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.col1,
.col2 {
  display: inline-block;
  vertical-align: middle;
}

.col2 {
  margin-left: 50px;
}

.footer {
  position: relative;
  background-color: #03162d;
  text-align: left;
}

.footer__in {
  max-width: 1570px;
  margin: auto;
  position: relative;
  padding: 63px 15px;
  *zoom: 1;
}

.footer__in:after {
  content: " ";
  display: table;
  clear: both;
}

.footer__col1 {
  float: left;
  padding-top: 36px;
}

.footer__col2 {
  float: right;
}

.footer__logo {
  font-family: "Bebas Bold", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
}

.footer__content {
  max-width: 460px;
}

.footer__content-text {
  opacity: 0.36;
  font-family: "Bebas Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 12px;
  line-height: 1.2;
}

.payments {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 8px;
}

.payments__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.payments__item + .payments__item {
  margin-left: 22px;
}

.info-list {
  font-size: 0;
  line-height: 1;
  padding: 26px 0 36px;
  font-family: "Bebas Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.info-list__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 70px;
}

.info-list__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
  width: 2px;
  background-color: #ffffff;
  opacity: 0.05;
}

.info-list__item_blue .contact-list span,
.info-list__item_blue .info-list__title {
  color: #ff1799;
}

.info-list__title {
  color: #ff1799;
  font-size: 24px;
}

.contact-list {
  font-size: 24px;
  margin-top: 18px;
}

.contact-list__item:not(:first-child) {
  margin-top: 12px;
}

.contact-list span, .contact-list p {
  display: inline-block;
  vertical-align: baseline;
}

.contact-list span {
  width: 72px;
  padding-right: 10px;
  color: #ff1799;
}

.brands {
  background-color: #fff;
}

.brands-list {
  font-size: 0;
}

.brands-list__item {
  display: inline-block;
  vertical-align: middle;
}

.brands-list__item:not(:last-child) {
  padding-right: 10px;
}

.brands-list img {
  display: block;
  max-width: 100%;
}

.comments {
  font-size: 0;
  margin-top: 82px;
}

.comments__item {
  width: 33.3333%;
  display: inline-block;
  vertical-align: top;
  padding: 0 50px;
}

.profile {
  max-width: 411px;
  min-height: 521px;
  display: block;
  margin: auto;
  padding: 45px 32px 50px;
  border: 2px solid #27344d;
}

.profile__media {
  width: 112px;
  height: 112px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
}

.profile__media img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.profile__name {
  font-size: 24px;
  margin-top: 20px;
}

.profile__site {
  font-size: 14px;
  color: #ff1799;
  margin-top: 10px;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: normal;
}

.profile__circle {
  margin-top: 32px;
}

.profile__circle span {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #fb1d95;
}

.profile__circle span + span {
  margin-left: 23px;
}

.profile__desc {
  font-size: 16px;
  margin-top: 32px;
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 90;
  overflow-x: hidden;
  overflow-y: auto;
  background: #10192b;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.sidebar.is-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sidebar__in {
  width: 251px;
  min-height: 100vh;
  padding: 100px 0;
}

.navigation a {
  font-size: 18px;
  color: #afafaf;
  line-height: 52px;
  display: block;
  padding-left: 32px;
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  position: relative;
}

.navigation a:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #0CA8FD;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.navigation a:hover, .navigation a:focus, .navigation a.is-active {
  color: #fff;
}

.navigation a:hover:after, .navigation a:focus:after, .navigation a.is-active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.webmasters {
  position: relative;
  z-index: 5;
  font-size: 0;
  margin-left: 31.89189%;
}

.webmasters__col {
  display: inline-block;
  vertical-align: top;
  max-width: 534px;
}

.webmasters__col:nth-of-type(1) {
  max-width: 380px;
}

.webmasters__col + .webmasters__col {
  margin-left: 66px;
}

.webmasters__btn {
  line-height: 1;
  padding: 27px 72px;
  margin: 56px 0 0 47px;
}

.diagram-webmaster {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.diagram-webmaster img {
  display: block;
  height: auto;
  width: 100%;
}

.diagram-webmaster__board span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  text-transform: uppercase;
  color: #fb1d95;
  font-size: 14px;
  font-family: "Robotocondensed", Arial, sans-serif;
  font-weight: normal;
}

.diagram-webmaster .point-1 {
  left: 3.79547%;
  top: 78.8%;
}

.diagram-webmaster .point-2 {
  left: 14.44386%;
  top: 26.8%;
}

.diagram-webmaster .point-3 {
  left: 20.82235%;
  top: 84.2%;
}

.diagram-webmaster .point-4 {
  left: 24.82868%;
  top: 3.8%;
}

.diagram-webmaster .point-5 {
  left: 31.57617%;
  top: 52.7%;
}

.diagram-webmaster .point-6 {
  left: 39.74697%;
  top: 63%;
}

.diagram-webmaster .point-7 {
  left: 50.1845%;
  top: 20.6%;
}

.diagram-webmaster .point-8 {
  left: 58.67159%;
  top: 53.5%;
}

.diagram-webmaster .point-9 {
  left: 64.99736%;
  top: 43%;
}

.diagram-webmaster .point-10 {
  left: 73.37902%;
  top: 28.7%;
}

.diagram-webmaster .point-11 {
  left: 79.75751%;
  top: 46.7%;
}

.diagram-webmaster .point-12 {
  left: 88.50817%;
  top: 31.7%;
}

.diagram-webmaster .point-13 {
  left: 96.7844%;
  top: 32.7%;
}

.commercial {
  position: relative;
  z-index: 5;
  font-size: 0;
  margin-left: 17.08108%;
}

.commercial__col {
  display: inline-block;
  vertical-align: top;
  max-width: 384px;
}

.commercial__col + .commercial__col {
  margin-left: 56px;
}

.commercial__btn {
  line-height: 1;
  padding: 27px 72px;
  margin: 56px 0 0 47px;
}

.diagram-commercial {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.diagram-commercial img {
  display: block;
  height: auto;
  width: 100%;
}

.diagram-commercial .point-1 {
  left: 3.79547%;
  top: 96.8%;
}

.diagram-commercial .point-2 {
  left: 15.34001%;
  top: 90.8%;
}

.diagram-commercial .point-3 {
  left: 28.51871%;
  top: 83.2%;
}

.diagram-commercial .point-4 {
  left: 37.53295%;
  top: 68.8%;
}

.diagram-commercial .point-5 {
  left: 50.13179%;
  top: 65.7%;
}

.diagram-commercial .point-6 {
  left: 59.40959%;
  top: 50%;
}

.diagram-commercial .point-7 {
  left: 71.27043%;
  top: 47.6%;
}

.diagram-commercial .point-8 {
  left: 81.65525%;
  top: 33.5%;
}

.diagram-commercial .point-9 {
  left: 93.09436%;
  top: 9%;
}

.diagram-commercial .point-10 {
  right: 0;
  top: 0.7%;
}

.board {
  padding: 7px 16px;
  background-color: #00aaff;
  text-transform: uppercase;
  font-family: "Gilroy Extrabold", Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  margin-bottom: 62px;
}

.board:before, .board:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.board:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #00aaff transparent transparent transparent;
}

.board:before {
  width: 1px;
  height: 52px;
  background-color: #00aaff;
}

.board_pink {
  background-color: #ff1799;
}

.board_pink:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #ff1799 transparent transparent transparent;
}

.board_pink:before {
  background-color: #ff1799;
}

.list__item:not(:last-child) {
  margin-bottom: 22px;
}

.list__item_top-vertical .list__item-icon,
.list__item_top-vertical .list__item-text {
  vertical-align: top;
}

.list__item-icon, .list__item-text {
  display: table-cell;
  vertical-align: middle;
}

.list__item-text {
  padding-left: 20px;
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}

.offer {
  text-align: center;
  display: table;
  margin: auto;
}

.offer__title {
  font-size: 48px;
  font-family: "Roboto Light", Arial, sans-serif;
  font-weight: normal;
  margin-top: 40px;
}

.offer__button {
  margin-top: 50px;
}

.picture-wrp {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.picture-human {
  width: 560px;
  height: 556px;
  position: absolute;
  top: 93px;
  right: 102px;
}

.picture-man {
  width: 560px;
  height: 547px;
  position: absolute;
  top: 82px;
  left: 171px;
  z-index: 1;
}

.entry {
  font-size: 0;
}

.entry__item {
  display: inline-block;
  vertical-align: middle;
}

.entry__item + .entry__item {
  margin-left: 40px;
}

.entry a {
  color: #fafafc;
  font-size: 18px;
}

.entry a:hover, .entry a:focus {
  color: #cacadf;
}

.company {
  text-align: center;
  line-height: 1;
  max-width: 433px;
}

.company__logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.company__text {
  font-size: 32px;
  margin-top: 5px;
}

.company__button {
  margin-top: 46px;
}

.points-wrp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.point {
  width: 1px;
  height: 1px;
  position: absolute;
}

.point:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: -7px 0 0 -7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.advantages-wrp {
  position: relative;
  padding: 40px;
  border: 1px solid #00aaff;
}

.advantages-tringle {
  position: absolute;
}

.advantages-tringle_1 {
  position: absolute;
  top: 0;
  left: 0;
  border: 15px solid transparent;
  border-left: 15px solid #00aaff;
  border-top: 15px solid #00aaff;
}

.advantages-tringle_2 {
  position: absolute;
  top: 0;
  right: 0;
  border: 15px solid transparent;
  border-right: 15px solid #00aaff;
  border-top: 15px solid #00aaff;
}

.advantages-tringle_3 {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 15px solid transparent;
  border-right: 15px solid #00aaff;
  border-bottom: 15px solid #00aaff;
}

.advantages-tringle_4 {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 15px solid transparent;
  border-left: 15px solid #00aaff;
  border-bottom: 15px solid #00aaff;
}

.advantages-list {
  text-align: justify;
  line-height: 0;
  font-size: 0;
  text-justify: newspaper;
  zoom: 1;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.advantages-list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.advantages-list__item {
  display: inline-block;
  vertical-align: top;
  width: 16%;
  margin-top: 69px;
  padding: 0 10px;
}

.advantage {
  margin: auto;
  max-width: 260px;
  text-align: center;
}

.advantage__media {
  position: relative;
  width: 82px;
  height: 82px;
  border: 2px solid #af25eb;
  border-radius: 50%;
  margin: 0 auto 62px;
}

.advantage__media:before, .advantage__media:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 22px;
  background-color: #af25eb;
  left: 0;
  right: 0;
  margin: auto;
}

.advantage__media:before {
  bottom: 100%;
  margin-bottom: 13px;
}

.advantage__media:after {
  top: 100%;
  margin-top: 13px;
}

.advantage__media i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.advantage__descr {
  font-size: 18px;
  line-height: 1.2;
  -moz-text-align-last: center;
  text-align-last: center;
}

@media only screen and (min-width: 1499px) {

  .brands-list {
    text-align: justify;
    line-height: 0;
    font-size: 0;
    text-justify: newspaper;
    zoom: 1;
    -moz-text-align-last: justify;
    text-align-last: justify;
  }

  .brands-list:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1499px) {

  .brands-list {
    text-align: left;
  }
}

/*# sourceMappingURL=app.css.map */
