<!-- BEGIN popup -->
<div class="popup popup-reg js-popup" data-popup="registration">

	<!-- BEGIN popup-reg__window -->
	<div class="popup-reg__window">
		<div class="popup-reg__top">
			<div class="popup-reg__title">Регистрация</div>
			<div class="popup-reg__sub">
				<a href="#" class="btn-back js-close-popup">вернуться на главную</a>
			</div>
		</div>
		<div class="popup-reg__body">
			<div class="tabs">
				<ul class="tabs__control">
					<li class="tabs__control-item">
						<a href="#" class="tabs__link is-active" data-link="step-1">ШАГ 1</a>
					</li>
					<li class="tabs__control-item">
						<a href="#" class="tabs__link" data-link="step-2">ШАГ 2</a>
					</li>
					<li class="tabs__control-item">
						<a href="#" class="tabs__link" data-link="step-3">ШАГ 3</a>
					</li>
				</ul>
				<div class="tabs__content">
					<form action="/" method="GET">
						<div class="tabs__content-item form-step-1" data-content="step-1">
							<div class="form__row">
								<span class="form-step-1__info">Выберите тип аккаунта</span>
								<button type="button" name="webmaster" class="btn-category">
									<div class="btn-category__inner">
										<span>вебмастер</span>
									</div>
								</button>
								<button type="button" name="advertiser" class="btn-category">
									<div class="btn-category__inner">
										<span>рекламодатель</span>
									</div>
								</button>
							</div>
							<div class="form__bottom">
								<button type="button" class="btn-main" disabled>
									<span>Далее</span>
								</button>
							</div>
						</div>
						<div class="tabs__content-item form-step-2 is-active" data-content="step-2">
							<div class="form__row">
								<div class="control">
									<div class="control__top">
										<button type="button" class="btn-variation">Вебмастер</button>
									</div>
									<div class="control__bottom">
										<a href="#" class="btn-change">
											Изменить тип аккаунта 
											{{mixins.icon("change")}}
										</a>
									</div>
								</div>
								<div class="field">
									<input type="email" name="mail" class="input" placeholder="email" required>
									<div class="input__failed">Не верно введен email</div>
								</div>
							</div>
							<div class="form__row">
								<div class="field">
									<input type="password" name="password" class="input" placeholder="пароль" required>
								</div>
							</div>
							<div class="form__row">
								<div class="field">
									<input type="password" name="confirm-password" class="input" placeholder="подтверждение пароля" required>
								</div>
							</div>
							<div class="form__bottom">
								<button type="button" class="btn-main" disabled>
									<span>Далее</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- END popup-reg__window -->

</div>
<!-- END popup -->