{# {% import '../../data/dataOffersList.html' as items %} #}

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="offers">

	<!-- BEGIN popup__window -->
	<div class="popup__window">
		<div class="popup__top">
			<div class="popup__top-title">Топ офферов</div>
			<div class="popup__top-button">
				<button type="button" class="btn-close js-close-popup">
					ЗАКРЫТЬ
					{{mixins.icon("close")}}
				</button>
			</div>
		</div>
		<div class="popup__body">
			<div class="popup__caption">
				<div class="popup__caption-col popup__caption-col_1">НАЗВАНИЕ</div>
				<div class="popup__caption-col popup__caption-col_2">ГЕО</div>
				<div class="popup__caption-col popup__caption-col_3">ОТЧИСЛЕНИЯ</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
			<div class="popup__row">
				<div class="popup__col popup__col_1">
					<div class="product">
						<div class="product__media">
							<img src="img/product.png" alt="">
						</div>
						<div class="product__desc">
							Chocolate slim
						</div>
					</div>
				</div>
				<div class="popup__col popup__col_2">
					<div class="flags">
						<i class="i-icon-ru"></i>
						<i class="i-icon-sw"></i>
						<i class="i-icon-rum"></i>
						<i class="i-icon-uk"></i>
					</div>
				</div>
				<div class="popup__col popup__col_3">
					<div class="price">700 руб</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END popup__window -->

</div>
<!-- END popup -->