<!-- BEGIN popup -->
<div class="popup popup-reg js-popup" data-popup="registration">

	<!-- BEGIN popup-reg__window -->
	<div class="popup-reg__window">
		<div class="popup-reg__top">
			<div class="popup-reg__title">Регистрация</div>
			<div class="popup-reg__sub">
				<a href="#" class="btn-back js-close-popup">вернуться на главную</a>
			</div>
		</div>
		<div class="popup-reg__body">
			{# topper #}
			{% include "partials/components/_tabs.html" %}
		</div>
	</div>
	<!-- END popup-reg__window -->

</div>
<!-- END popup -->