<!-- BEGIN preloader -->
<div class="preloader js-preloader">
    <div class="preloader__body">
      <span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="preloader__base">
        <span></span>
        <div class="preloader__face"></div>
      </div>
    </div>
    <div class="preloader__longfazers">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h2 class="preloader__title js-preloader-title is-hidden">СЕКУНДОЧКУ, ОБГОНЯЕМ ДРУГИЕ СЕТИ</h2>
    <script>
        var showTitle = function() {
            var title = document.querySelector('.js-preloader-title');
            if(!!title) title.classList.remove('is-hidden');
        }
        setTimeout(showTitle, 300);
    </script>
</div>
<!-- END preloader -->