{% import '../../data/dataSidebarNav.html' as items %}
<!-- BEGIN sidebar -->
<div class="sidebar js-sidebar">
	<!-- BEGIN sidebar__in -->
	<div class="sidebar__in">
		<ul class="navigation">
			{% for navItem in items.navList %}
			<li class="navigation__item">
				{% if loop.index0 == activeLink %}
					<a href="#{{navItem.id}}" class="is-active">{{navItem.link}}</a>
				{% else %}
					<a href="#{{navItem.id}}">{{navItem.link}}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- END sidebar__in -->

</div>
<!-- END sidebar -->