<!-- BEGIN sidebar -->
<div class="sidebar js-sidebar">
	{% set navList = [
		'Преимущества', 
		'Вебмастерам', 
		'Рекламодателям', 
		'Топ офферов', 
		'Отзывы',
		'Партнеры', 
		'Контакты'
	] %}
	<!-- BEGIN sidebar__in -->
	<div class="sidebar__in">
		<ul class="navigation">
			{% for navItem in navList %}
			<li class="navigation__item">
				{% if loop.index0 == activeLink %}
					<a href="#" class="is-active">{{navItem}}</a>
				{% else %}
					<a href="#">{{navItem}}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- END sidebar__in -->

</div>
<!-- END sidebar -->