<!-- BEGIN topper -->
<div class="topper js-scroll">
	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN topper__left -->
		<div class="topper__left">
			<h1 class="logo">apilead</h1>
			<button type="button" class="btn-menu js-menu">
				<span></span>
				Menu
			</button>
		</div>
		<!-- END topper__left -->

		<!-- BEGIN topper__right -->
		<div class="topper__right">
			<ul class="entry">
				<li class="entry__item">
					<a href="#">Войти</a>
				</li>
				<li class="entry__item">
					<button type="button" class="btn js-open-popup" data-link="registration">СОЗДАТЬ АККАУНТ</button>
				</li>
			</ul>
		</div>
		<!-- END topper__right -->

	</div>
	<!-- END inner -->
</div>
<!-- END topper -->