<!-- BEGIN topper -->
<div class="topper js-scroll">
	<!-- BEGIN topper__in -->
	<div class="topper__in">
		<button type="button" class="btn-menu js-menu">
			<span></span>Menu
		</button>
		{# sidebar #}
		{% include "partials/components/_sidebar.html" %}

		<div class="logo">
			<img src="img/logo.png" alt="" title="Apilead company">
		</div>

		<ul class="entry">
			<li class="entry__item">
				<a href="#" class="entry__link js-open-popup" data-link="login">Войти</a>
			</li>
			<li class="entry__item">
				<a href="#" class="entry__link js-open-popup" data-link="registration">Создать аккаунт</a>
			</li>
		</ul>
	</div>
	<!-- END topper__in -->
</div>
<!-- END topper -->