body
	background-color: #071e39
	line-height: 1.4
	font-size: 18px
	+roboto-reg
	color: #fff

a
	text-decoration: none
	color: inherit
	+roboto-reg
	+trans

.title-primary
	+roboto-light
	font-size: 72px
	line-height: 1
	&_centered
		text-align: center
.title-secondary
	line-height: 1
	+roboto-med
	font-size: 48px

//icons
.icon-check
	font-size: 32px
	fill: #fff
