html, body
	height: 100%
	overflow: hidden
body
	background-color: $section-bg-dark
	line-height: 1.4
	font-size: 18px
	+roboto-reg
	color: #fff
	&.is-hidden
		overflow: hidden
a
	text-decoration: none
	color: inherit
	+roboto-reg
	+trans

//title
.title-primary
	+roboto-light
	+css-lock(60, 120, 900, 1920)
	line-height: 1
	+css-lock(30, 120, 600, 1920, 'margin-bottom')
	// margin-bottom: 120px
	+sm
		// margin-bottom: 40px
	+xs
		font-size: 32px
	&_centered
		text-align: center
.title-secondary
	line-height: 1
	+roboto-med
	+css-lock(32, 48, 900, 1920)
	+xs
		font-size: 28px

//icons
.icon-check
	font-size: 32px
	fill: #fff
.icon-close
	font-size: 15px
	fill: #0ca8fd
.icon-change
	font-size: 21px
	fill: rgba(#fff, 0.4)
.icon-donut
	+css-lock(240, 410, 900, 1920)
	fill: #fff
[class^="i-icon"]
	display: inline-block
	vertical-align: middle
.i-icon-money
	+s(money)
.i-icon-api
	+s(api)
.i-icon-card
	+s(card)
.i-icon-graph
	+s(graph)
.i-icon-guard
	+s(guard)
.i-icon-help
	+s(help)
.i-icon-link
	+s(link)
.i-icon-profile
	+s(profile)
.i-icon-sale
	+s(sale)
.i-icon-worker
	+s(worker)
.i-icon-discount
	+s(discount)
.i-icon-help-new
	+s(help-new)
.i-icon-ruble
	+s(ruble)

//flags
.i-icon-ru
	+s(ru)
.i-icon-sw
	+s(sw)
.i-icon-rum
	+s(rum)
.i-icon-uk
	+s(uk)

//заглушка для ie <= 9
.opened#reject .info
	min-width: 650px
	
.glitch
	position: relative
	display: table
	margin-left: auto
	margin-right: auto 
	+textGlitch(glitch, 5, inherit, $section-bg-dark, red, $violet, 99999, 90)
	
//заглушка для ie <= 9
.parking
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 9999999
	background-color: #ee5050
	text-align: center
	display: none
	&__title
		+panton
		+css-lock(40, 72, 900, 1920)
		display: inline-block
		vertical-align: middle
		padding-top: 10%
	img
		position: absolute
		left: 0
		bottom: 0