---
title: Apilead - регистрация почти завершена
---
{% extends "layouts/_layout-non-popup.html" %}
{% block content %}
	<div class="complete">
		<div class="complete__content">
			<h1 class="complete__title title-secondary">Регистрация почти завершена!</h1>
			<div class="complete__text">
				Осталось активировать аккаунт <br>
				На указанный при регистрации эмейл отправлено письмо с ссылкой для активации аккаунта
			</div>
			<div class="complete__btn">
				<button type="button" class="btn-main">
					<span>Открыть ящик</span>
				</button>
			</div>
			<div class="complete__if"><span>или</span></div>
			<div class="complete__link">
				<a href="#" class="btn-back">вернуться на главную</a>
			</div>
		</div>
	</div>
{% endblock %}