---
title: Apilead - регистрация почти завершена
---
{% extends "layouts/_layout.html" %}
{% block content %}
	<div class="complete">
		<div class="complete__content">
			<h1 class="complete__title title-secondary">Регистрация почти завершена!</h1>
			<div class="complete__text">
				Осталось активировать аккаунт <br>
				На указанный при регистрации эмейл отправлено письмо с ссылкой для активации аккаунта
			</div>
			<div class="complete__link">
				<a href="index.html" class="btn-back">вернуться на главную</a>
			</div>
		</div>
	</div>
{% endblock %}