.btn
	@extend %button
	color: #fff
	line-height: 1
	background-color: $blue
	+roboto-bold
	padding: 17px 19px
	font-size: 14px
	&:hover,
	&:focus
		background-color: lighten($blue, 10%)
	&:active
		background-color: darken($blue, 5%)
.btn-primary
	@extend %button
	background-color: $pink
	padding: 27px 60px
	color: #fafafc
	+css-lock(14, 20, 900, 1920)
	+robotomono-bold
	&:hover,
	&:focus
		background-color: lighten($pink, 5%)
	&:active
		background-color: darken($pink, 5%)
	&_blue
		background-color: $blue
		&:hover,
		&:focus
			background-color: lighten($blue, 10%)
		&:active
			background-color: darken($blue, 5%)
.btn-secondary
	@extend %button
	line-height: 1
	color: #0ca8fd
	+css-lock(14, 20, 900, 1920)
	+robotomono-bold
	border: 2px solid #0ca8fd
	border-radius: 37px
	padding: 25px 70px
	overflow: hidden
	&:hover,
	&:focus
		border-color: #fb1d95
		.btn-secondary__in
			right: 0
	&__in
		position: absolute
		top: -2px
		bottom: -2px
		width: 100%
		top: 0
		right: 120%
		background-color: #fb1d95
		display: block
		transition: right 0.3s
	&__text
		position: relative
		z-index: 2
.btn-menu
	+hide-text
	width: 28px
	height: 20px
	position: relative
	overflow: hidden
	top: 1px
	background-color: transparent
	display: inline-block
	vertical-align: middle
	margin-left: 14px
	span
		position: absolute
		left: 0
		right: 0
		top: 50%
		margin-top: -1px
		height: 3px
		background-color: #fff
		display: block
		transition: transform 0.2s
		&::after,
		&::before
			content: ''
			display: block
			position: absolute
			height: 3px
			background-color: #fff
			left: 0
			right: 0
		&::before
			top: -8px
			transform-origin: top right
			transition: transform 0.2s, width 0.2s, top 0.2s
		&::after
			top: 8px
			transform-origin: bottom right
			transition: transform 0.2s, width 0.2s, bottom 0.2s
	&.is-active
		span
			+rotate(180)
			&::before,
			&::after
				width: 40%
			&::before
				transform: translateX(15px) translateY(9px) rotate(-45deg)
			&::after
				transform: translateX(14px) translateY(-9px) rotate(45deg)

.btn-close
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	right: 5px
	background: transparent
	+roboto-med
	font-size: 14px
	color: #0ca8fd
	padding-right: 32px
	transition: color 0.3s
	&:hover
		color: lighten(#0ca8fd, 15%)
		.icon
			fill: lighten(#0ca8fd, 15%)
	.icon
		position: absolute
		right: 0
		top: 0
		bottom: 0
		margin: auto
		transition: fill 0.3s
.btn-main
	@extend %button-basic
	padding: 21px 51px 
	border: 2px solid white
	border-radius: 5px
	+roboto-bold
	font-size: 30px
	line-height: 1
	color: #fff
	&:hover,
	&:focus
		top: 5px
		&:after
			display: none
	&:after
		content: ''
		display: block
		position: absolute
		left: -2px
		right: -2px
		top: 100%
		margin-top: -1px
		height: 6px
		border-bottom-left-radius: 8px
		border-bottom-right-radius: 8px
		background-color: #fff
.btn-category
	@extend %button-basic
	min-width: 282px
	text-transform: lowercase
	+roboto-bold
	font-size: 30px
	line-height: 1
	color: rgba(#fff, 0.4)
	word-break: break-word
	&:hover,
	&:focus
		color: rgba(#fff, 1)
		&:before
			width: 100%
		&:after
			height: 100%
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
		border-style: solid
		border-color: #fff
		transition: all 0.3s
		top: 0
		bottom: 0
		right: 0
		left: 0
	&:before
		width: 0
		border-width: 4px 0 4px 0
	&:after
		border-width: 0 4px 0 4px
		height: 0
	&:nth-of-type(odd)
		margin-right: 28px
	span
		position: relative
		z-index: 2
	&__inner
		border: 4px solid rgba(#fff, 0.4)
		padding: 26px 15px
.buttons-row
	counter-reset: list
	&_right
		text-align: right
	&:not(:first-of-type)
		padding-top: 60px
	.btn-category
		&__inner
			&:before
				counter-increment: list
				content: '0' counter(list)
				position: absolute
				top: 0
				left: 20px
				z-index: 1
				background-color: $violet
				font-size: 18px
				padding: 0 18px
				margin-top: -6px
.btn-back
	@extend %button-basic
	font-size: 24px
	color: rgba(#fff, 0.4)
	transition: all 0.3s
	padding-left: 30px
	line-height: 1.4
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		bottom: 0
		margin: auto
		transition: all 0.3s
		+arr(14, 20, rgba(#fff, 0.4), l)
	&:hover,
	&:focus
		color: #fff
		&:before
			border-right-color: #fff