<!-- BEGIN comments -->
<ul class="comments">
	<li class="comments__item">
		<div class="profile">
			<div class="profile__media">
				<img src="img/avatar.png" alt="">
			</div>
			<div class="profile__name">Камбербетч</div>
			<div class="profile__site">ADMIN SITE.COM</div>
			<ul class="profile__circle">
				<span></span>
				<span></span>
				<span></span>
			</ul>
			<div class="profile__desc">
				Работаю с Апилид 3 месяца, параллельно лью на кма и стр. По выплатам все гуд, офферы тоже норм, пересекаются, как и везде. У меня здесь хорошо заходят Титан и Экопилс. Выплаты по запросу, отзывчивый саппорт, высокие ставки, большой ассортимент офферов.
			</div>
			<div class="border border1"></div>
			<div class="border border2"></div>
			<div class="border border3"></div>
			<div class="border border4"></div>
		</div>
	</li>
	<li class="comments__item">
		<div class="profile">
			<div class="profile__media">
				<img src="img/avatar.png" alt="">
			</div>
			<div class="profile__name">Камбербетч</div>
			<div class="profile__site">ADMIN SITE.COM</div>
			<ul class="profile__circle">
				<span></span>
				<span></span>
				<span></span>
			</ul>
			<div class="profile__desc">
				Работаю с Апилид 3 месяца, параллельно лью на кма и стр. По выплатам все гуд, офферы тоже норм, пересекаются, как и везде. У меня здесь хорошо заходят Титан и Экопилс. Выплаты по запросу, отзывчивый саппорт, высокие ставки, большой ассортимент офферов.
			</div>
			<div class="border border1"></div>
			<div class="border border2"></div>
			<div class="border border3"></div>
			<div class="border border4"></div>
		</div>
	</li>
	<li class="comments__item">
		<div class="profile">
			<div class="profile__media">
				<img src="img/avatar.png" alt="">
			</div>
			<div class="profile__name">Камбербетч</div>
			<div class="profile__site">ADMIN SITE.COM</div>
			<ul class="profile__circle">
				<span></span>
				<span></span>
				<span></span>
			</ul>
			<div class="profile__desc">
				Работаю с Апилид 3 месяца, параллельно лью на кма и стр. По выплатам все гуд, офферы тоже норм, пересекаются, как и везде. У меня здесь хорошо заходят Титан и Экопилс. Выплаты по запросу, отзывчивый саппорт, высокие ставки, большой ассортимент офферов.
			</div>
			<div class="border border1"></div>
			<div class="border border2"></div>
			<div class="border border3"></div>
			<div class="border border4"></div>
		</div>
	</li>
</ul>
<!-- END comments -->