<!-- BEGIN sidebar -->
<div class="sidebar js-sidebar">

	<!-- BEGIN sidebar__in -->
	<div class="sidebar__in">
		<ul class="navigation">
			<li class="navigation__item"><a href="#" class="is-active">
				Преимущества
			</a></li>
			<li class="navigation__item"><a href="#">
				Вебмастерам
			</a></li>
			<li class="navigation__item"><a href="#">
				Рекламодателям
			</a></li>
			<li class="navigation__item"><a href="#">
				Топ офферов
			</a></li>
			<li class="navigation__item"><a href="#">
				Отзывы
			</a></li>
			<li class="navigation__item"><a href="#">
				Партнеры
			</a></li>
			<li class="navigation__item"><a href="#">
				Контакты
			</a></li>
		</ul>
	</div>
	<!-- END sidebar__in -->

</div>
<!-- END sidebar -->