<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item" data-content="step-3">
	<div class="form__row form__row_required">
		<div class="form__col-1">
			<select class="select-default">
				<option value="Skype" selected>Skype</option>
				<option value="Jabber">Jabber</option>
				<option value="ICQ">ICQ</option>
			</select>
		</div>
		<div class="form__col-2">
			<div class="field">
				<input type="text" name="contact" class="input" placeholder="контакт">
			</div>
		</div>
	</div>
	<div class="form__row form__row_required">
		<div class="field">
			<input type="text" name="webmoney" class="input" placeholder="Webmoney (WMR)">
		</div>
	</div>
	<div class="form__capcha">
		<div class="capcha">
			<img src="img/capcha.png" alt="">
		</div>
	</div>
	<div class="form__bottom">
		<a href="#" class="btn-main" disabled>
			<span>Регистрация</span>
		</a>
	</div>
</div>
<!-- END tabs-content__item -->