<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item js-content-item" data-tabs-content="third">
	<div class="form__row">
		<div class="form__col-1">
			{{mixins.select()}}
		</div>
		<div class="form__col-2">
			{{mixins.input("contact")}}
		</div>
	</div>
	<div class="form__row js-toggle-visibility">
		{{mixins.input("webmoney")}}
	</div>
	<div class="form__capcha">
		<div class="recaptcha-error">
			<div class="g-recaptcha" id="google-capcha" data-sitekey="6LcJIiAUAAAAAC4BLXKsV0as16wKvS2Dj6Htc3_1" data-callback="onSuccess"></div>
		</div>
	</div>
	<div class="form__bottom">
		<button type="button" class="btn-main js-submit">
			<span>Регистрация</span>
		</button>
	</div>
</div>
<!-- END tabs-content__item -->