<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item js-content-item" data-tabs-content="second">
	<div class="form__row">
		<div class="field">
			<input type="email" name="email" class="input" placeholder="email" id="mail-check-in" autocomplete="off">
		</div>
	</div>
	<div class="form__row">
		<div class="field">
			<input type="password" name="password" class="input" placeholder="пароль" id="password-check-in">
		</div>
	</div>
	<div class="form__row">
		<div class="field">
			<input type="password" name="password_confirm" class="input" placeholder="подтверждение пароля" id="confirm-check-in">
		</div>
	</div>
	<div class="form__bottom">
		<button type="button" class="btn-main js-next-step" data-step="third">
			<span>Далее</span>
		</button>
	</div>
</div>
<!-- END tabs-content__item-->