<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item js-content-item" data-tabs-content="first">
	<div class="form__action">
		<button type="button" class="btn-category js-category" data-user-name="webmaster">
			<div class="btn-category__inner">
				<span>вебмастер</span>
			</div>
		</button>
		<button type="button" class="btn-category js-category" data-user-name="advertiser">
			<div class="btn-category__inner">
				<span>рекламодатель</span>
			</div>
		</button>
		<div class="field">
			<input type="text" name="user_type" id="input-user" class="input" style="display: none;">
		</div>
	</div>
	<div class="form__bottom">
		<button class="btn-main js-next-step" data-step="second">
			<span>Далее</span>
		</button>
	</div>
</div>
<!-- END tabs-content__item-->