<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item" data-content="step-2">
	<div class="form__row form__row_required">
		<div class="field">
			<input type="email" name="mail" class="input" placeholder="email" required>
			<div class="error">Не верно введен email</div>
		</div>
	</div>
	<div class="form__row form__row_required">
		<div class="field">
			<input type="password" name="password" class="input" placeholder="пароль" required>
		</div>
	</div>
	<div class="form__row form__row_required">
		<div class="field">
			<input type="password" name="confirm-password" class="input" placeholder="подтверждение пароля" required>
		</div>
	</div>
	<div class="form__bottom">
		<a href="#" type="button" class="btn-main js-next-step" data-step="step-3" disabled>
			<span>Далее</span>
		</a>
	</div>
</div>
<!-- END tabs-content__item-->