<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item js-content-item" data-content="step-2">
	<div class="form__row form__row_required">
		{{mixins.input("email")}}
	</div>
	<div class="form__row form__row_required">
		{{mixins.input("password")}}
	</div>
	<div class="form__row form__row_required">
		{{mixins.input("confirm")}}
	</div>
	<div class="form__bottom">
		<a href="#" type="button" class="btn-main js-next-step" data-step="step-3" disabled>
			<span>Далее</span>
		</a>
	</div>
</div>
<!-- END tabs-content__item-->