<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item js-content-item is-active" data-tabs-content="first">
	<div class="form__action">
		<button type="button" class="btn-category js-category" data-user-name="webmaster">
			<div class="btn-category__inner">
				<span>вебмастер</span>
			</div>
		</button>
		<button type="button" class="btn-category js-category" data-user-name="advertiser">
			<div class="btn-category__inner">
				<span>рекламодатель</span>
			</div>
		</button>
		<input type="text" name="user" id="input-user" style="display: none;">
	</div>
	<div class="form__bottom">
		<a href="#" class="btn-main js-next-step" data-step="second" disabled>
			<span>Далее</span>
		</a>
	</div>
</div>
<!-- END tabs-content__item-->