<!-- BEGIN tabs-content__item-->
<div class="tabs-content__item js-content-item" data-content="step-3">
	<div class="form__row form__row_required">
		<div class="form__col-1">
			{{mixins.select()}}
		</div>
		<div class="form__col-2">
			{{mixins.input("contact")}}
		</div>
	</div>
	<div class="form__row form__row_required">
		{{mixins.input("webmoney")}}	
	</div>
	<div class="form__capcha">
		<div class="capcha">
			<img src="img/capcha.png" alt="">
		</div>
	</div>
	<div class="form__bottom">
		<a href="finish.html" class="btn-main" disabled>
			<span>Регистрация</span>
		</a>
	</div>
</div>
<!-- END tabs-content__item -->