{% set promotionList = {
	unit1: [
		{
			icon: 'check',
			text: 'Гарантия высокого среднего чека при использовании услуг нашего колл-центра за счет высококвалифицированной обработки вашей заявки'
		},
		{
			icon: 'check',
			text: 'качественные заявки из проверенных источников'
		},
		{
			icon: 'check',
			text: 'индивидуальный подход'
		}
	],
	unit2: [
		{
			icon: 'check',
			text: 'траффик на любой товар'
		},
		{
			icon: 'check',
			text: 'быстрое подключение '
		},
		{
			icon: 'check',
			text: 'оперативный саппорт '
		}
	]
} %}