{% set 
comments = [
	{
		img: 'avatar.png',
		name: 'Камбербетч',
		site: 'ADMIN SITE.COM',
		description: 'Работаю с Апилид 3 месяца, параллельно лью на кма и стр. По выплатам все гуд, офферы тоже норм, пересекаются, как и везде. У меня здесь хорошо заходят Титан и Экопилс. Выплаты по запросу, отзывчивый саппорт, высокие ставки, большой ассортимент офферов.'
	},
	{
		img: 'avatar.png',
		name: 'Камбербетч',
		site: 'ADMIN SITE.COM',
		description: 'Работаю с Апилид 3 месяца, параллельно лью на кма и стр. По выплатам все гуд, офферы тоже норм, пересекаются, как и везде. У меня здесь хорошо заходят Титан и Экопилс. Выплаты по запросу, отзывчивый саппорт, высокие ставки, большой ассортимент офферов.'
	},
	{
		img: 'avatar.png',
		name: 'Камбербетч',
		site: 'ADMIN SITE.COM',
		description: 'Работаю с Апилид 3 месяца, параллельно лью на кма и стр. По выплатам все гуд, офферы тоже норм, пересекаются, как и везде. У меня здесь хорошо заходят Титан и Экопилс. Выплаты по запросу, отзывчивый саппорт, высокие ставки, большой ассортимент офферов.'
	}
] 
%}