{% set 
comments = [
	{
		img: 'ava1.jpg',
		name: 'АдвансТС',
		site: 'advancets.org',
		description: 'Уже не первый год СРА-сеть Apilead наши партнеры и друзья. С уверенностью можем сказать, что их эксклюзивные товарные офферы вас удивят и порадуют. Быстрый КЦ, приятные отчисления и отличный коллектив. Удачи и процветания!'
	},
	{
		img: 'ava2.jpg',
		name: 'Паблер',
		site: 'publer.wildo.ru',
		description: 'Работаем с партнёрской сетью Апилид достаточно давно, пока никаких проблем не возникало. Эта команда стремительно развивается, захватывая лидерство на рынке товарных офферов. Свой надёжностью и профессиональным подходом к работе ребята показали, что им можно доверять.'
	},
	{
		img: 'ava3.png',
		name: 'Бидфокс',
		site: 'bidfox.ru',
		description: 'Наша компания давно сотрудничает с ApiLead, сотрудничает качественно и плодотворно. Команда ApiLead выделяется своим высоким профессионализмом, гибкостью и скоростью работы. За время сотрудничества было протестировано огромное количество офферов, найдено много нестандартных решений, которые команда ApiLead помогла воплотить в жизнь. Мы будем и дальше работать с ApiLead и наращивать наше сотрудничество.'
	}
] 
%}