{% set pointsWebmasterList = [
	{
		pointClasses: 'point point-1',
		boardClasses: 'board board_1 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-2',
		boardClasses: 'board board_2 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-3',
		boardClasses: 'board board_3 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-4',
		boardClasses: 'board board_4 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-5',
		boardClasses: 'board board_5 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-6',
		boardClasses: 'board board_6 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-7',
		boardClasses: 'board board_7 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-8',
		boardClasses: 'board board_8 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-9',
		boardClasses: 'board board_9 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-10',
		boardClasses: 'board board_10 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-11',
		boardClasses: 'board board_11 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-12',
		boardClasses: 'board board_12 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	},
	{
		pointClasses: 'point point-13',
		boardClasses: 'board board_13 board_pink diagram-webmaster__board',
		infoText: 'выплачено',
		boardText: '+600руб'
	}
] %}