{% set pointsCommercialList= [
	{
		pointClasses: 'point point-1 diagram-commercial_point',
		boardClasses: 'board board_1',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-2 diagram-commercial_point',
		boardClasses: 'board board_2',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-3 diagram-commercial_point',
		boardClasses: 'board board_3',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-4 diagram-commercial_point',
		boardClasses: 'board board_4',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-5 diagram-commercial_point',
		boardClasses: 'board board_5',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-6 diagram-commercial_point',
		boardClasses: 'board board_6',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-7 diagram-commercial_point',
		boardClasses: 'board board_7',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-8 diagram-commercial_point',
		boardClasses: 'board board_8',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-9 diagram-commercial_point',
		boardClasses: 'board board_9',
		boardText: '+ LEAD'
	},
	{
		pointClasses: 'point point-10 diagram-commercial_point',
		boardClasses: 'board board_10',
		boardText: '+ LEAD'
	}
] %}