{% set 
advantagesList = [
	{
		icon: 'i-icon-money',
		description: 'одни из наиболее высоких выплат на рынке CPA'
	},
	{
		icon: 'i-icon-worker',
		description: 'широкий ассортимент офферов'
	},
	{
		icon: 'i-icon-guard',
		description: 'встроенная система защиты от фрода и дублей'
	},
	{
		icon: 'i-icon-graph',
		description: 'помощь специалистов в оптимизации рекламных кампаний'
	},
	{
		icon: 'i-icon-sale',
		description: 'Личные консультации по трендовым офферам и рабочим связкам'
	},
	{
		icon: 'i-icon-discount',
		description: 'Агентские кабинеты и скидки на популярные сервисы для арбитража трафика'
	},
	{
		icon: 'i-icon-link',
		description: 'подключение офферов по запросу'
	},
	{
		icon: 'i-icon-api',
		description: 'возможность работать по Api'
	},
	{
		icon: 'i-icon-profile',
		description: 'индивидуальный менеджер'
	},
	{
		icon: 'i-icon-help',
		description: 'стабильная поддержка партнеров'
	},
	{
		icon: 'i-icon-card',
		description: 'выплаты по запросу'
	},
	{
		icon: 'i-icon-help-new',
		description: 'помощь новичкам в освоении системы и вопросах арбитража трафика.'
	}
] 
%}