{% set 
advantagesList = [
	{
		icon: 'i-icon-money',
		description: 'Мы - одна из самых щедрых компаний на рынке CPA'
	},
	{
		icon: 'i-icon-worker',
		description: 'Офферов - чуть больше, чем ты думаешь'
	},
	{
		icon: 'i-icon-guard',
		description: 'У нас встроена система защиты от фрода и дублей'
	},
	{
		icon: 'i-icon-graph',
		description: 'Хочешь оптимизировать рекламные кампании? Поможем.'
	},
	{
		icon: 'i-icon-sale',
		description: 'Если нужно, расскажем о трендовых офферах и рабочих связках'
	},
	{
		icon: 'i-icon-discount',
		description: 'Для тебя популярные сервисы арбитража трафика сделаем подешевле'
	},
	{
		icon: 'i-icon-link',
		description: 'Подключим офферы по твоему запросу'
	},
	{
		icon: 'i-icon-api',
		description: 'Хочешь работать по API? Вперед.'
	},
	{
		icon: 'i-icon-profile',
		description: 'Индивидуальный менеджер - норма, а не роскошь'
	},
	{
		icon: 'i-icon-help',
		description: 'Агентские кабинеты заточены под тебя. В плохие не ходи, в наши ходи.'
	},
	{
		icon: 'i-icon-card',
		description: 'Выплаты - сразу по твоему запросу'
	},
	{
		icon: 'i-icon-help-new',
		description: 'Поможем поднять скиллы по арбитражу трафика'
	}
] 
%}