{% set webmastersList = {
	unit1: [
		{
			icon: 'check',
			text: 'Можешь выбрать инструменты для работы с аналитикой'
		},
		{
			icon: 'check',
			text: 'возможность работы по Postback'
		},
		{
			icon: 'check',
			text: 'Промо много'
		}
	],
	unit2: [
		{
			icon: 'check',
			text: 'Платим стабильно и не жлобимся'
		},
		{
			icon: 'check',
			text: 'Офферов много '
		},
		{
			icon: 'check',
			text: 'Если нужно - дадим записи разговоров'
		}
	],
	unit3: [
		{
			icon: 'check',
			text: 'Можешь запускать a/b тестирование лендингов'
		},
		{
			icon: 'check',
			text: 'Нефиговенький аппрув '
		},
		{
			icon: 'check',
			text: 'Заявку прозваниваем за 5 минут'
		}
	]
} %}

