{% set webmastersList = {
	unit1: [
		{
			icon: 'check',
			text: 'широкий выбор инструментов в сфере аналитики'
		},
		{
			icon: 'check',
			text: 'возможность работы по Postback'
		},
		{
			icon: 'check',
			text: 'большой выбор промо'
		},
		{
			icon: 'check',
			text: 'высокие и стабильные выплаты'
		},
		{
			icon: 'check',
			text: 'эксклюзивные офферы '
		},
		{
			icon: 'check',
			text: 'предоставления записей разговоров'
		}
	],
	unit2: [
		{
			icon: 'check',
			text: 'Возможность A/B тестирования лендингов'
		},{
			icon: 'check',
			text: 'высокий апрув '
		},
		{
			icon: 'check',
			text: 'прозвон заявки в первые 5 минут'
		}
	]
} %}

