{% set 
offersList = [
	{
		prodImg: 'product.png',
		prodDesc: 'Chocolate slim',
		flagsIconClass: 'i-icon-ru, i-icon-sw, i-icon-rum, i-icon-uk',
		prodPrice: "700 руб"
	},
	{
		prodImg: 'product.png',
		prodDesc: 'Chocolate slim',
		flagsIconClass: 'i-icon-ru, i-icon-sw, i-icon-rum, i-icon-uk',
		prodPrice: "700 руб"
	},
	{
		prodImg: 'product.png',
		prodDesc: 'Chocolate slim',
		flagsIconClass: 'i-icon-ru, i-icon-sw, i-icon-rum, i-icon-uk',
		prodPrice: "700 руб"
	},
	{
		prodImg: 'product.png',
		prodDesc: 'Chocolate slim',
		flagsIconClass: 'i-icon-ru, i-icon-sw, i-icon-rum, i-icon-uk',
		prodPrice: "700 руб"
	}
] 
%}