{% set 
comments = [
	{
		img: 'avatar.png',
		name: 'Камбербетч',
		site: 'ADMIN SITE.COM',
		description: 'Идеальных партнерок, возможно, и нет, но есть те, с которыми можно нормально заработать. Об Apilead узнал недавно, до этого работал с другими сетками. Затестил офферы на их КЦ, профит порадовал. Уже половину трафа сливаю, пока ок. Дальше - посмотрим.'
	},
	{
		img: 'avatar.png',
		name: 'Камбербетч',
		site: 'ADMIN SITE.COM',
		description: 'Читал на одном их форумов, что бывают проблемы с поддержкой. Было разок, два дня ждал выплаты, но потом пришли извинения и до сих пор все хорошо. По офферам - есть с чего выбрать, главное правильно лить трафик. Из значимых плюсов - апрув'
	},
	{
		img: 'avatar.png',
		name: 'Камбербетч',
		site: 'ADMIN SITE.COM',
		description: 'Моя оценка от лица веба. От работы сложилось положительное впечатление. Радует вежливость, компетентность и скорость обработки поддержки. Наличие топовых офферов, которые выстреливают раз за разом. И самое основное - выплаты, если с ними нет проблем - работа в кайф. '
	}
] 
%}