<!-- BEGIN popup-checkin__top  -->
<div class="popup-checkin__top">
	<div class="popup-checkin__col-1">
		<div class="popup-checkin__title">Регистрация</div>
		<div class="popup-checkin__sub">
			<a href="#" class="btn-back js-close-popup">вернуться на главную</a>
		</div>
	</div>
	<div class="popup-checkin__col-2">
		<span class="info" style="display: none;">Выберите тип аккаунта</span>
		<div class="change">
			<div class="change__top">
				<button type="button" class="btn-variation js-account-btn">Вебмастер</button>
			</div>
			<div class="change__bottom">
				<a href="#" class="btn-change js-account-link" data-account="Рекламодатель">
					Изменить тип аккаунта 
					{{mixins.icon("change")}}
				</a>
			</div>
		</div>
	</div>
</div>
<!-- END popup-checkin__top  -->