.advantages
	position: relative
	padding: 40px
	border: 1px solid $blue
.tringle
	position: absolute
	&_1
		position: absolute
		top: 0
		left: 0
		border: 15px solid transparent
		border-left: 15px solid $blue
		border-top: 15px solid $blue
	&_2
		position: absolute
		top: 0
		right: 0
		border: 15px solid transparent
		border-right: 15px solid $blue
		border-top: 15px solid $blue
	&_3
		position: absolute
		bottom: 0
		right: 0
		border: 15px solid transparent
		border-right: 15px solid $blue
		border-bottom: 15px solid $blue
	&_4
		position: absolute
		bottom: 0
		left: 0
		border: 15px solid transparent
		border-left: 15px solid $blue
		border-bottom: 15px solid $blue
.advantages-list
	+justify
	&__item
		display: inline-block
		vertical-align: top
		width: 16% 
		margin-top: 69px
		padding: 0 10px
.advantages-top
	+clr
	padding-top: 178px
.advantages-text
	position: relative
	max-width: 400px
	line-height: 1.2
	margin-top: 50px
	margin-right: (170px / 1850px) * 100%
	margin-bottom: 220px
	float: right
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
	&:before
		width: 149px
		height: 186px
		background: url(../img/tail.png) no-repeat center
		top: 100%
		right: 37px
		margin-top: 34px
	&:after
		height: 1px
		width: 193px
		top: 100%
		right: -62px
		margin-top: 220px
		background: $section-bg-dark
		z-index: 1
	&__title
		+roboto-med
		font-size: 48px
		+css-lock(28, 48, 900, 1920)
		letter-spacing: -0.01em
		text-transform: capitalize
		margin-bottom: 20px
		+css-lock(10, 20, 900, 1920, margin-bottom)
	&__bottom
		font-size: 28px
		+css-lock(20, 28, 900, 1920)
		line-height: 1.2
.unit
	margin: auto
	max-width: 260px
	text-align: center
	&__media
		position: relative
		width: 82px
		height: 82px
		border: 2px solid #af25eb
		border-radius: 50%
		margin: 0 auto 62px
		&:before,
		&:after
			content: ''
			position: absolute
			width: 3px
			height: 22px
			background-color: #af25eb
			left: 0
			right: 0
			margin: auto
		&:before
			bottom: 100%
			margin-bottom: 13px
		&:after
			top: 100%
			margin-top: 13px
		i
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			margin: auto
	&__descr
		font-size: 18px
		line-height: 1.2
		text-align-last: center
.advantages-graph
	position: relative
	float: right
	width: 51.35135135135135%
	min-width: 780px
	margin-right: 6%
	&__basic
		img
			@extend %img
	&__main
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 100px
		margin-right: -(65px / 950px) * 100%
	&__point
		position: absolute
		left: 0
		bottom: 3px
		width: 1px
		height: 1px
		&:before
			content: ''
			display: block
			position: absolute
			width: 4px
			height: 4px
			background-color: #FFF
			margin: -2px 0 0 -2px
		&_1
			left: 0
		&_2
			left: (66px / 850px) * 100%
		&_3
			left: (132px / 850px) * 100%
		&_4
			left: (198px / 850px) * 100%
		&_5
			left: (264px / 850px) * 100%
		&_6
			left: (330px / 850px) * 100%
		&_7
			left: (396px / 850px) * 100% 
		&_8
			left: (462px / 850px) * 100%
		&_9
			left: (528px / 850px) * 100%
		&_10
			left: (594px / 850px) * 100%
		&_11
			left: (660px / 850px) * 100%
		&_12
			left: (726px / 850px) * 100%
	&__tringle
		width: (66px / 1897px) * 100vw
		left: 100%
		bottom: 0
		position: absolute
		img
			display: block
			width: 100%
		height: auto
.graph-board
	width: 139px
	border: 1px solid #fb1d95
	padding: 0 0 0 12px 
	&__price
		+gilroy
		font-size: 30px
		line-height: 1
		margin-top: -12px
		i
			margin: -10px 0 0 -2px
	&__text
		margin-top: 10px