.board
	padding: 7px 16px 
	background-color: $blue
	text-transform: uppercase
	+gilroy
	text-align: center
	font-size: 18px
	position: absolute
	left: 0
	bottom: 0
	white-space: nowrap
	transform: translate3d(-50%, -50%, 0)
	margin-bottom: 62px
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
		top: 100%
		left: 0
		right: 0
		margin: auto
	&:after
		+arr(18, 9, $blue, b)
	&:before
		width: 1px
		height: 52px
		background-color: $blue
	&_pink
		background-color: $pink
		&:after
			+arr(18, 9, $pink, b)
		&:before
			background-color: $pink