.brands
	background-color: #fff
	&__in
		@extend %inner
.brands-list
	font-size: 0
	+rmin(1499)
		+justify
	+r(1499)
		text-align: left
	&__item
		display: inline-block
		vertical-align: middle
		&:not(:last-child)
			padding-right: 10px
	img
		display: block
		max-width: 100%