.brands
	background-color: #fff
.brands-list
	font-size: 0
	+justify
	&__item
		display: inline-block
		vertical-align: middle
		&:not(:last-child)
			padding-right: 10px
	img
		display: block
		max-width: 100%