.columns
	height: 100%
	padding: 100px 0
	+vertical
.col1,
.col2
	display: inline-block
	vertical-align: middle
.col1
	width: 35%
	text-align: right
.col2
	width: 65%
	padding-left: 10%
.figure
	img
		@extend %img