.complete
	min-height: 100vh
	background-color: $violet
	&__content
		display: block
		margin: auto
		max-width: 900px
		padding: 115px 20px
		font-size: 18px
		text-align: center
	&__title
		margin-bottom: 76px
		line-height: 1.1
	&__text
		margin-bottom: 60px