.company
	line-height: 1
	max-width: 430px
	display: inline-block
	vertical-align: middle
	+md
		max-width: 360px
	+xs
		max-width: 250px
	&__logo
		+hide-text
	&__text
		+css-lock(24, 32, 900, 1920, "font-size")
		margin-top: 5px
		+xs
			font-size: 20px
	&__button
		margin-top: 46px
	img
		@extend %img
		+lg
			width: 80%
			margin: auto