.commercial
	position: relative
	z-index: 5
	font-size: 0
	max-width: 1140px
	margin: auto
	+md
		max-width: none
		margin: -15px -20px 0 0
		text-align: left
	+xs
		margin: -15px 0 0
	&__col
		display: inline-block
		vertical-align: top
		+md-min
			width: 33.333%
			padding: 0 15px
			&:nth-of-type(1)
				text-align: left
				.list__item
					&:last-of-type
						.list__item-text,
						.list__item-icon
							vertical-align: top
			&:nth-of-type(2)
				text-align: center
			&:nth-of-type(3)
				text-align: right
		+md
			width: 50%
			margin-top: 15px
			padding-right: 20px
		+xs
			width: 100%
			padding-right: 0
			text-align: center
	.list
		+xs-min
			text-align: left