.company
	position: relative
	text-align: center
	+vcenter
	+panton-bold
	max-width: 700px
	min-width: 340px
	margin-top: -((100px / 1880px) * 100%)
	+sm
		margin-top: -100px
	+xs
		min-width: 300px
	&__pretitle
		+css-lock(28, 36, 900, 1920)
		letter-spacing: 0.2em
		color: #fff
		font-family: Arial, Helvetica, sans-serif
		+sm
			font-size: 24px
		+xs
			font-size: 20px
	&__title
		max-width: 530px
		width: 100%
		padding-top: 15px
		margin: auto
		+hide-text
		svg
			@extend %img