.list
	&__item
		&:not(:last-child)
			margin-bottom: 10px
			+xs-min
				margin-bottom: 22px
	&__item_top-vertical
		.list__item-icon,
		.list__item-text
			vertical-align: top
	&__item-icon,
	&__item-text
		display: table-cell
		vertical-align: middle
	&__item-icon
		+xs
			display: none
	&__item-text
		+roboto-light
		font-size: 18px
		line-height: 1.2
		+xs-min
			padding-left: 20px
		+md
			line-height: 1.6