.list
	display: inline-block
	vertical-align: top
	+xs
		max-width: 400px
	&__item
		+md-min
			max-width: 360px
			&:not(:first-of-type)
				margin-top: 40px
		+md
			&:not(:first-of-type)
				margin-top: 15px
		+xs-min
			display: table
	&__item-icon
		display: table-cell
		vertical-align: middle
		+xs
			display: none
	&__item-text
		+roboto-light
		font-size: 22px
		line-height: 1.2
		text-transform: lowercase
		+md-min
			padding-left: 20px
		+md
			font-size: 18px
		+xs-min
			display: table-cell
			vertical-align: middle
			padding-left: 15px