.offer
	text-align: center
	display: table
	margin: auto
	&__title
		+css-lock(32, 48, 900, 1920)
		+css-lock(20, 40, 900, 1920, margin-top)
		+roboto-light
	&__media
		margin: auto
		+css-lock(240, 410, 900, 1920, max-width)
		svg
			width: 100%
			display: block
			height: auto
	&__button
		+css-lock(30, 50, 900, 1920, margin-top)