.picture-wrp
	@extend %inner
	position: absolute
	top: 0
	right: 0
	left: 0
	z-index: 1
	img
		@extend %img
.picture-human
	width: 560px
	height: 556px
	position: absolute
	top: 93px
	right: 102px
.picture-man
	width: 560px
	height: 547px
	position: absolute
	top: 82px
	left: 211px - 40px
	z-index: 1