.popup
	@extend %popup
	&.is-active
		visibility: visible
		opacity: 1
	+md
		padding: 60px 20px
	+xs
		padding: 100px 10px
	&__window
		display: block
		margin: auto
		max-width: 932px
		width: 100%
	&__body
		font-size: 16px
		overflow: hidden
		+sm-min
			padding-top: 50px
	&__caption
		padding: 22px 0
		display: table
		width: 100%
		font-size: 18px
		color: $disable
		line-height: 1.2
	&__inner-wrap
		padding-right: 20px
	&__top
		text-align: left
		line-height: 1.4
		position: relative 
	&__top-title
		font-size: 48px
		+roboto-light
		+sm
			font-size: 26px
	&__top-link
		padding-top: 8px
	&__row
		display: table
		width: 100%
		font-size: 22px
		padding: 36px 0
		&:not(:last-of-type)
			border-bottom: 2px solid $disable
		+sm
			font-size: 16px
			padding: 20px 0
		+xs
			padding: 10px 0
	&__col,
	&__caption-col
		display: table-cell
		vertical-align: middle
		text-align: left
		padding-right: 30px
	&__col
		&_1
			width: 36%
		&_2
			padding-right: 0
	&__caption-col
		&_1
			width: 36%
		&_2
			width: 24%
		&_3
			width: 20%
		&_4
			width: 20%
			text-align: right
			padding-right: 0
.popup-offers
	@extend %popup
	.popup__body
		min-width: 700px
	.ps__scrollbar-y-rail .ps__scrollbar-y,
	.ps__scrollbar-x-rail .ps__scrollbar-x
		background-color: #925fff
	+md
		padding: 60px 20px
	+xs
		padding: 100px 10px
	&.is-active
		visibility: visible
		opacity: 1
	+sm
		padding: 60px 10px
.product
	display: table
	font-size: 24px
	+roboto-reg
	+sm
		font-size: 20px
	&__desc
		display: table-cell
		vertical-align: middle
.flags
	font-size: 0
	&__in
		margin-top: -30px
	&__link
		font-size: 14px
		margin-top: 10px
		display: inline-block
		line-height: 1
	&__row
		padding-top: 30px
	i, span
		display: block
.popup-checkin
	@extend %popup
	padding: 100px
	+md
		padding: 60px 20px
	+xs
		padding: 100px 10px
	&.is-active
		visibility: visible
		opacity: 1
	&__window
		max-width: 864px
		width: 100%
		margin: auto
		
	&__top
		text-align: left
		+clr
	&__col-1
		+xs-min
			float: left
			max-width: 400px
	&__col-2
		+xs-min
			float: right
			text-align: right
			max-width: 350px
		+xs
			margin-top: 10px
	&__body
		padding-top: 126px
		+sm
			padding-top: 30px
	&__sub
		+sm-min
			padding-top: 8px
	&__title
		font-size: 48px
		+sm
			font-size: 26px
.popup-login
	@extend %popup
	padding: 100px
	+md
		padding: 60px 20px
	+xs
		padding: 100px 10px
	&.is-active
		visibility: visible
		opacity: 1
	&__window
		max-width: 600px
		width: 100%
		margin: auto
	&__top
		text-align: left
	&__body
		padding-top: 20px
		+sm-min
			padding-top: 40px
			padding-left: 26px
		+sm
			+xs-min
				margin-left: -20px
	&__sub
		padding-top: 8px
	&__title
		font-size: 48px
		+sm
			font-size: 26px
.info-product
	display: table
	width: 100%
	padding: 5px 0
	&__col
		display: table-cell
		vertical-align: middle
		padding-right: 30px
		&_1
			width: (224px / 597px) * 100%
		&_2
			width: (186px / 597px) * 100%
		&_3
			width: (186px / 597px) * 100%
			padding-right: 0
			text-align: right
	i, span
		font-size: 12px