.webmasters
	position: relative
	z-index: 5
	font-size: 0
	+rmin(1601)
		padding-left: 38%
	&__col
		display: inline-block
		vertical-align: top
		width: 50%
		+rmin(1601)
			max-width: 534px
			&:nth-of-type(1)
				max-width: 380px
		+lg
			&:nth-of-type(1)
				text-align: right

		+ .webmasters__col
			padding-left: 66px
		.list
			text-align: left
			display: inline-block
			+lg
				max-width: 450px
	&__btn
		margin-top: 56px
		padding-left: 47px
		.btn-primary
			padding: 27px 72px
			line-height: 1
		+lg
			padding-left: 0