<!-- BEGIN perfomance -->
<section class="perfomance js-parallax-section" id="perfomance">

	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN parallax-bg -->
		<div class="parallax-bg">
			<div class="parallax-bg__item js-parallax-bg"></div>
		</div>
		<!-- END parallax-bg -->

		<!-- BEGIN parallax-company -->
		<div class="parallax-company">
			<div class="parallax-company__item js-parallax-company">
				<div class="company">
					<div class="company__pretitle">ЦЕНТР РЕАЛИЗАЦИИ</div>
					<div class="company__title">
						лидов
						{# adding svg phrase #}
						{{mixins.leadPhrase()}}
					</div>
				</div>
			</div>
		</div>
		<!-- END parallax-company -->

		<!-- BEGIN perfomance__button -->
		<div class="perfomance__button">
			{{mixins.button('btn-primary js-open-popup', 'registration', 'НАЧАТЬ РАБОТУ')}}
		</div>
		<!-- END perfomance__button -->

	</div>
	<!-- END inner -->

</section>
<!-- END perfomance -->