<!-- BEGIN perfomance -->
<section class="perfomance">

	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN company -->
		<div class="company">
			<div class="company__logo">
				<img src="img/company.png" alt="Apilead" title="Apilead company brand">
				apilead
			</div>
			<div class="company__text">
				центр реализации лидов
			</div>
			<div class="company__button">
				<a href="#" class="btn-primary">НАЧАТЬ РАБОТУ</a>
			</div>
		</div>
		<!-- END company -->

	</div>
	<!-- END inner -->

</section>
<!-- END perfomance -->