{% import '../../data/dataCommercialList.html' as units %}
{% import '../../data/dataCommercialPoints.html' as items %}

<!-- BEGIN recl -->
<section class="recl" id="recl">
	
	<!-- BEGIN inner -->
	<div class="inner">
		
		<h2 class="title-primary glitch title-primary_centered" data-text="Рекламодателям">Рекламодателям</h2>

		<!-- BEGIN commercial -->
		<div class="commercial">
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit1 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit2 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit3 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- END commercial -->
		
	</div>
	<!-- END inner -->
	
	<!-- BEGIN diagram-commercial -->
	<div class="diagram-commercial">
		<img src="img/diagrams/diagram-commercial.png" alt="">
		<div class="points-wrp">
			{% for points in items.pointsCommercialList %}
				<div class="{{points.pointClasses}}">
					<div class="{{points.boardClasses}}">{{points.boardText}}</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- END diagram-commercial -->

</section>
<!-- END recl -->