{% import '../../data/dataCommercialList.html' as units %}
{% import '../../data/dataCommercialPoints.html' as items %}

<!-- BEGIN recl -->
<section class="recl" id="recl">
	
	<!-- BEGIN inner -->
	<div class="inner">
		
		<h2 class="title-primary title-primary_centered">Рекламодателям</h2>

		<!-- BEGIN commercial -->
		<div class="commercial">
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit1 %}
						{% if loop.index0  === 0 %} 
							<li class="list__item list__item_top-vertical">
								<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
								<div class="list__item-text">
									{{item.text}}
								</div>
							</li>
						{% else %}
							<li class="list__item">
								<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
								<div class="list__item-text">
									{{item.text}}
								</div>
							</li>
						{% endif %}
						
					{% endfor %}
				</ul>
			</div>
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit2 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
				<div class="commercial__btn">
					<a href="#" class="btn-primary js-open-popup" data-link="registration">РЕГИСТРАЦИЯ</a>
				</div>
			</div>
		</div>
		<!-- END commercial -->
		
	</div>
	<!-- END inner -->

	<!-- BEGIN picture-wrp -->
	<div class="picture-wrp">
		<!-- BEGIN picture-human -->
		<div class="picture-human">
			<img src="img/human.png" alt="">
		</div>	
		<!-- END picture-human -->
	</div>
	<!-- END picture-wrp -->
	
	<!-- BEGIN diagram-commercial -->
	<div class="diagram-commercial">
		<img src="img/diagrams/diagram-commercial.png" alt="">
		<div class="points-wrp">
			{% for points in items.pointsCommercialList %}
				<div class="{{points.pointClasses}}">
					<div class="{{points.boardClasses}}">{{points.boardText}}</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- END diagram-commercial -->

</section>
<!-- END recl -->