<!-- BEGIN section section1 -->
<section class="section section1">

	<!-- BEGIN inner -->
	<div class="inner">

		{# topper #}
		{% include "../_topper.html" %}

		<!-- BEGIN col1 -->
		<div class="col1">
			<div class="company">
				<div class="company__top">
					<img src="img/company.png" alt="Apilead" title="Apilead company brand">
					apilead
				</div>
				<div class="company__bottom">
					центр реализации лидов
				</div>
			</div>
		</div>
		<!-- END col1 -->

		<!-- BEGIN col2 -->
		<div class="col2">
			<div class="figure"><img src="img/figure.png" alt=""></div>
		</div>
		<!-- END col2 -->

	</div>
	<!-- END inner -->

</section>
<!-- END section section1 -->