<!-- BEGIN section section5 -->
<section class="section section5">

	<!-- BEGIN inner -->
	<div class="inner">
		<div class="offer">
			<div class="offer__media">
				<img src="img/donut.svg" alt="" width="392" height="386">
			</div>
			<div class="offer__title">СОЧНЫЕ ОФФЕРЫ</div>
			<div class="offer__button">
				<a href="#" class="btn-secondary">
					<span class="btn-secondary__in"></span>
					<span class="btn-secondary__text">ОТКРЫТЬ ТОП</span>
				</a>
			</div>
		</div>
	</div>
	<!-- END inner -->

</section>
<!-- END section section5 -->