<!-- BEGIN section section1 -->
<section class="section section1">

	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN columns -->
		<div class="columns">
			
			<!-- BEGIN col1 -->
			<div class="col1">
				<div class="company">
					<div class="company__logo">
						<img src="img/company.png" alt="Apilead" title="Apilead company brand">
						apilead
					</div>
					<div class="company__text">
						центр реализации лидов
					</div>
					<div class="company__button">
						<a href="#" class="btn-primary">НАЧАТЬ РАБОТУ</a>
					</div>
				</div>
			</div>
			<!-- END col1 -->

			<!-- BEGIN col2 -->
			<div class="col2">
				<div class="figure"><img src="img/figure.png" alt=""></div>
			</div>
			<!-- END col2 -->

		</div>
		<!-- END columns -->

	</div>
	<!-- END inner -->

</section>
<!-- END section section1 -->