{% import '../../data/dataCommercialList.html' as units %}

<!-- BEGIN section4 -->
<section class="section4 js-animate">
	
	<!-- BEGIN inner -->
	<div class="inner">
		
		<h2 class="title-primary title-primary_centered">Рекламодателям</h2>

		<!-- BEGIN commercial -->
		<div class="commercial">
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit1 %}
						{% if loop.index0  === 0 %} 
							<li class="list__item list__item_top-vertical">
								<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
								<div class="list__item-text">
									{{item.text}}
								</div>
							</li>
						{% else %}
							<li class="list__item">
								<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
								<div class="list__item-text">
									{{item.text}}
								</div>
							</li>
						{% endif %}
						
					{% endfor %}
				</ul>
			</div>
			<div class="commercial__col">
				<ul class="list">
					{% for item in units.commercialList.unit2 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
				<a href="#" class="btn-primary commercial__btn">РЕГИСТРАЦИЯ</a>
			</div>
		</div>
		<!-- END commercial -->
		
	</div>
	<!-- END inner -->

	<!-- BEGIN picture-wrp -->
	<div class="picture-wrp">
		<!-- BEGIN picture-human -->
		<div class="picture-human">
			<img src="img/human.png" alt="">
		</div>	
		<!-- END picture-human -->
	</div>
	<!-- END picture-wrp -->
	
	<!-- BEGIN diagram-commercial -->
	<div class="diagram-commercial">
		<img src="img/diagrams/diagram-commercial.png" alt="">
		<div class="points-wrp">
			<div class="point point-1 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-2 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-3 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-4 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-5 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-6 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-7 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-8 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-9 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
			<div class="point point-10 diagram-commercial_point">
				<div class="board board_1">+ LEAD</div>
			</div>
		</div>
	</div>
	<!-- END diagram-commercial -->

</section>
<!-- END section4 -->