{% import '../../data/dataWebmastersList.html' as units %}
{% import '../../data/dataWebmasterPoints.html' as items %}

<!-- BEGIN section3 -->
<section class="section3 js-animate">

	<!-- BEGIN inner -->
	<div class="inner">
		
		<h2 class="title-primary title-primary_centered">Вебмастерам</h2>

		<!-- BEGIN webmasters -->
		<div class="webmasters">
			<div class="webmasters__col">
				<ul class="list">
					{% for item in units.webmastersList.unit1 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>					
					{% endfor %}
				</ul>
			</div>
			<div class="webmasters__col">
				<ul class="list">
					{% for item in units.webmastersList.unit2 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
				<div class="webmasters__btn">
					<a href="#" class="btn-primary btn-primary_blue">РЕГИСТРАЦИЯ</a>
				</div>
			</div>
		</div>
		<!-- END webmasters -->

	</div>
	<!-- END inner -->

	<!-- BEGIN picture-wrp -->
	<div class="picture-wrp">
		<!-- BEGIN picture-man -->
		<div class="picture-man">
			<img src="img/man.png" alt="">
		</div>	
		<!-- END picture-man -->
	</div>
	<!-- END picture-wrp -->

	<!-- BEGIN diagram-webmaster -->
	<div class="diagram-webmaster">
		<img src="img/diagrams/diagram-webmaster.png" alt="">
		<div class="points-wrp">
			{% for points in items.pointsWebmasterList %}
				<div class="{{points.pointClasses}}">
					<div class="{{points.boardClasses}}">
						<span>{{points.infoText}}</span>
						{{points.boardText}}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- END diagram-commercial -->

</section>
<!-- END section3 -->