{% import '../../data/dataAdvantagesList.html' as items %}

<!-- BEGIN work -->
<section class="work js-animate">

	<!-- BEGIN inner -->
	<div class="inner">
		
		<!-- BEGIN advantages-top -->
		<div class="advantages-top">

			<!-- BEGIN advantages-graph -->
			<div class="advantages-graph">
				<div class="advantages-graph__basic"><img src="img/advantages-graph.png" alt=""></div>
				<div class="advantages-graph__main">
					<div class="advantages-graph__point advantages-graph__point_1">
						<div class="advantages-graph__tringle">
						</div>
						<div class="graph-board">
							<div class="graph-board__price">0 <i class="i-icon-ruble"></i></div>
							<div class="graph-board__text">Прибыль без apilead</div>
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_2">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle2.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_3">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle3.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_4">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle4.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_5">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle5.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_6">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle6.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_7">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle7.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_8">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle8.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_9">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle9.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_10">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle10.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_11">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle11.png" alt="">
						</div>
					</div>
					<div class="advantages-graph__point advantages-graph__point_12">
						<div class="advantages-graph__tringle">
							<img src="img/tringles/triangle12.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<!-- END advantages-graph -->
			
			<!-- BEGIN advantages-text -->
			<div class="advantages-text">
				<div class="advantages-text__title">Работая С Apilead</div>
				<div class="advantages-text__bottom">- Ты получаешь богатый ряд преимуществ!</div>
			</div>
			<!-- END advantages-text -->

		</div>
		<!-- END advantages-top -->

		<!-- BEGIN advantages -->
		<div class="advantages">

			<div class="tringle tringle_1"></div>
			<div class="tringle tringle_2"></div>
			<div class="tringle tringle_3"></div>
			<div class="tringle tringle_4"></div>
			
			<!-- BEGIN advantages-list -->
			<ul class="advantages-list">
				
				{% for item in items.advantagesList %}

				<!-- BEGIN advantages-list__item -->
				<li class="advantages-list__item">
					<div class="unit">
						<div class="unit__media">
							<i class="{{item.icon}}"></i>
						</div>
						<div class="unit__descr">
							{{item.description}}
						</div>
					</div>
				</li>
				<!-- END advantages-list__item -->
				
				{% endfor %}

			</ul>
			<!-- END advantages-list -->

		</div>
		<!-- END advantages -->

	</div>
	<!-- END inner -->

</section>
<!-- END work -->